Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}": ["biome check --write --no-errors-on-unmatched"],
  "package.json": ["pnpm dlx sort-package-json"]
}

fix: declare MCP SDK runtime dependencies
  .changeset/fix-browser-sdk-runtime-deps.md
  packages/transports/package.json
  packages/webmcp-ts-sdk/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(webmcp-local-relay): consolidate relay triage fixes
  .changeset/local-relay-reconnect-payload-sync.md
  e2e/web-standards-showcase/public/relay/embed.js
  e2e/web-standards-showcase/public/relay/widget.html
  packages/webmcp-local-relay/example/embed.js
  packages/webmcp-local-relay/example/widget.html
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/bridgeServer.ts
  packages/webmcp-local-relay/src/browser/embed.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/reconciler.test.ts
  packages/webmcp-local-relay/src/browser/reconciler.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-local-relay/src/cli-utils.test.ts
  packages/webmcp-local-relay/src/cli-utils.ts
  packages/webmcp-local-relay/src/cli.ts
  packages/webmcp-local-relay/src/mcpRelayServer.test.ts
  packages/webmcp-local-relay/src/mcpRelayServer.ts
Due: biome check --write --no-errors-on-unmatched

docs(usewebmcp): update Chrome 147/148 compatibility notes in comment and README
  packages/usewebmcp/README.md
  packages/usewebmcp/src/useWebMCP.ts
Due: biome check --write --no-errors-on-unmatched

chore: format chrome-devtools package verifier (#239)
  packages/chrome-devtools-mcp/scripts/verify-npm-package.mjs
Due: biome check --write --no-errors-on-unmatched

docs(usewebmcp): clarify native abort cleanup wording
  packages/usewebmcp/README.md
  packages/usewebmcp/src/useWebMCP.ts
Due: biome check --write --no-errors-on-unmatched

fix(smart-dom-reader): correct package exports (#233)
  .changeset/smart-dom-reader-package-exports.md
  packages/smart-dom-reader/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix: declare MCP SDK runtime dependencies (#242)
  .changeset/fix-browser-sdk-runtime-deps.md
  packages/transports/package.json
  packages/webmcp-ts-sdk/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(usewebmcp): update Chrome 147/148 compatibility notes in comment and README (#241)
  packages/usewebmcp/README.md
  packages/usewebmcp/src/useWebMCP.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-local-relay): reduce CPU saturation from notification storms on browser reconnect (#220)
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/bridgeServer.ts
  packages/webmcp-local-relay/src/mcpRelayServer.test.ts
  packages/webmcp-local-relay/src/mcpRelayServer.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-local-relay): consolidate relay sync cleanup
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/bridgeServer.ts
  packages/webmcp-local-relay/src/browser/embed.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/reconciler.test.ts
  packages/webmcp-local-relay/src/browser/reconciler.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-local-relay/src/cli-utils.test.ts
  packages/webmcp-local-relay/src/cli-utils.ts
  packages/webmcp-local-relay/src/cli.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-local-relay): consolidate relay cleanup
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/bridgeServer.ts
  packages/webmcp-local-relay/src/browser/embed.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/reconciler.test.ts
  packages/webmcp-local-relay/src/browser/reconciler.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-local-relay/src/cli-utils.test.ts
  packages/webmcp-local-relay/src/cli-utils.ts
  packages/webmcp-local-relay/src/cli.ts
Due: biome check --write --no-errors-on-unmatched

chore(webmcp-local-relay): simplify tool sync cleanup
  packages/webmcp-local-relay/src/browser/embed.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/reconciler.test.ts
  packages/webmcp-local-relay/src/browser/reconciler.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
Due: biome check --write --no-errors-on-unmatched

chore(webmcp-local-relay): simplify browser runtime
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
Due: biome check --write --no-errors-on-unmatched

test(webmcp-local-relay): wait for client-visible tools
  packages/webmcp-local-relay/src/mcpRelayServer.test.ts
Due: biome check --write --no-errors-on-unmatched

chore(webmcp-local-relay): simplify browser runtime
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-local-relay/src/mcpRelayServer.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(release): use workflow token for release PRs
  .github/workflows/changesets.yml
  .npmrc
Due: biome check --write --no-errors-on-unmatched

fix(release): use workflow token for release PRs (#247)
  .github/workflows/changesets.yml
  .npmrc
Due: biome check --write --no-errors-on-unmatched

chore: fix mdx file
  apps/documentation-website/packages/global/reference.mdx
Due: none

fix(docs): finish monorepo docs migration wiring
  AGENTS.md
  README.md
  apps/documentation-website/docs.json
  apps/documentation-website/package.json
  apps/landing-page/public/llms.txt
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(docs): finish monorepo docs migration wiring (#253)
  AGENTS.md
  README.md
  apps/documentation-website/docs.json
  apps/documentation-website/package.json
  apps/landing-page/public/llms.txt
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(*): make document.modelContext the canonical API reference
  docs/AI_CONTRIBUTION_MANIFESTO.md
  docs/MCPB_PACKAGE_PHILOSOPHY.md
  docs/TESTING.md
  docs/TESTING_GUIDE.md
  docs/TYPE_TESTING.md
  docs/global-guide.md
Due: biome check --write --no-errors-on-unmatched

feat(webmcp-polyfill): serialize image values from WebMCP tool results
  docs/plans/WEBMCP_IMAGE_TOOL_CONTENT_INVESTIGATION.md
  docs/plans/WEBMCP_IMAGE_TOOL_CONTENT_TDD_PLAN.md
  e2e/package.json
  e2e/playwright-webmcp-image-native.config.ts
  e2e/runtime-contract/image-contract.d.ts
  e2e/runtime-contract/image-contract.js
  e2e/test-app/package.json
  e2e/test-app/runtime-contract-image-native.html
  e2e/test-app/runtime-contract-image-polyfill.html
  e2e/test-app/src/runtime-contract-image-native.ts
  e2e/test-app/src/runtime-contract-image-polyfill.ts
  e2e/test-app/src/webmcp-extensions.d.ts
  e2e/test-app/vite.config.ts
  e2e/tests/runtime-contract-image-values.spec.ts
  e2e/types/globals.d.ts
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-types/README.md
  packages/webmcp-types/src/common.ts
  packages/webmcp-types/src/index.test-d.ts
  packages/webmcp-types/src/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(global): extend image runtime contract with MIME and scope cases
  e2e/runtime-contract/image-contract.js
  e2e/tests/runtime-contract-image-values.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): delegate schema conversion
  packages/react-webmcp/package.json
  packages/react-webmcp/src/index.ts
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/react-webmcp/src/useWebMCPPrompt.test.ts
  packages/react-webmcp/src/useWebMCPPrompt.ts
  packages/react-webmcp/src/zod-utils.test.ts
  packages/react-webmcp/src/zod-utils.ts
  packages/react-webmcp/vite.config.ts
  packages/usewebmcp/src/types.ts
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-polyfill/package.json
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-polyfill/src/schema.ts
  packages/webmcp-polyfill/vite.config.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-ts-sdk/src/index.ts
  packages/webmcp-ts-sdk/src/no-op-validator.ts
  packages/webmcp-ts-sdk/src/polyfill-validator.ts
  packages/webmcp-ts-sdk/src/stubs/ajv.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

ci(ci): pass Chrome path to native runtime checks
  .github/workflows/e2e.yml
Due: biome check --write --no-errors-on-unmatched

ci(ci): split native runtime checks from stable E2E
  .github/workflows/e2e.yml
  e2e/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(extension-tools): expose executable contract tools
  packages/extension-tools/package.json
  packages/extension-tools/src/chrome-apis/TabsApiTools.ts
  packages/extension-tools/src/contracts/index.ts
  packages/extension-tools/src/contracts/tabs.ts
  packages/extension-tools/src/executable-tools.test.ts
  packages/extension-tools/src/executable-tools.ts
  packages/extension-tools/src/index.ts
  packages/extension-tools/tsconfig.typecheck.json
  packages/extension-tools/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(chrome-devtools-mcp): include source needed for publishing
  packages/chrome-devtools-mcp/src/McpPage.ts
  packages/chrome-devtools-mcp/src/SlimMcpResponse.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-cli-options.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-mcp-cli-options.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-mcp-main.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-mcp.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools.ts
  packages/chrome-devtools-mcp/src/bin/cliDefinitions.ts
  packages/chrome-devtools-mcp/src/daemon/client.ts
  packages/chrome-devtools-mcp/src/daemon/daemon.ts
  packages/chrome-devtools-mcp/src/daemon/types.ts
  packages/chrome-devtools-mcp/src/daemon/utils.ts
  packages/chrome-devtools-mcp/src/formatters/IssueFormatter.ts
  packages/chrome-devtools-mcp/src/telemetry/ClearcutLogger.ts
  packages/chrome-devtools-mcp/src/telemetry/WatchdogClient.ts
  packages/chrome-devtools-mcp/src/telemetry/flagUtils.ts
  packages/chrome-devtools-mcp/src/telemetry/metricUtils.ts
  packages/chrome-devtools-mcp/src/telemetry/persistence.ts
  packages/chrome-devtools-mcp/src/telemetry/types.ts
  packages/chrome-devtools-mcp/src/telemetry/watchdog/ClearcutSender.ts
  packages/chrome-devtools-mcp/src/telemetry/watchdog/main.ts
  packages/chrome-devtools-mcp/src/third_party/LIGHTHOUSE_MCP_BUNDLE_THIRD_PARTY_NOTICES
  packages/chrome-devtools-mcp/src/third_party/devtools-formatter-worker.ts
  packages/chrome-devtools-mcp/src/third_party/lighthouse-devtools-mcp-bundle.js
  packages/chrome-devtools-mcp/src/tools/extensions.ts
  packages/chrome-devtools-mcp/src/tools/lighthouse.ts
  packages/chrome-devtools-mcp/src/tools/memory.ts
  packages/chrome-devtools-mcp/src/tools/screencast.ts
  packages/chrome-devtools-mcp/src/tools/slim/tools.ts
  packages/chrome-devtools-mcp/src/types.ts
  packages/chrome-devtools-mcp/src/utils/ExtensionRegistry.ts
  packages/chrome-devtools-mcp/src/utils/files.ts
  packages/chrome-devtools-mcp/src/utils/string.ts
  packages/chrome-devtools-mcp/src/version.ts
Due: biome check --write --no-errors-on-unmatched

fix(release): publish beta snapshots from changesets
  .changeset/config.json
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

feat(extension-tools): expose chrome method facade
  packages/extension-tools/package.json
  packages/extension-tools/src/chrome-apis/TabsApiTools.ts
  packages/extension-tools/src/chrome-methods.test.ts
  packages/extension-tools/src/chrome-methods.ts
  packages/extension-tools/src/contracts/storage.ts
  packages/extension-tools/src/contracts/tabs.ts
  packages/extension-tools/src/index.ts
  packages/extension-tools/tsconfig.typecheck.json
  packages/extension-tools/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(release): build snapshots before beta publish
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

fix(release): create signed prerelease entries reliably
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

fix(release): upload prerelease sigstore bundles
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched
