Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat: Add Zod 3.25+ and Zod 4 dual version support (#64)
  .changeset/zod-dual-version-support.md
  .github/workflows/claude-webmcp-test.yml
  packages/global/README.md
  packages/global/src/global.ts
  packages/global/src/validation.property.test.ts
  packages/global/src/validation.ts
  packages/react-webmcp/README.md
  packages/react-webmcp/package.json
  packages/usewebmcp/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): simplify Zod validation to use z.toJSONSchema() and z.fromJSONSchema() directly
  packages/global/README.md
  packages/global/package.json
  packages/global/src/validation.property.test.ts
  packages/global/src/validation.ts
  packages/react-webmcp/README.md
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): import toJSONSchema/fromJSONSchema from zod/v4
  packages/global/src/validation.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): add zod-to-json-schema for proper Zod 3.x/4.x compat
  packages/global/package.json
  packages/global/src/validation.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): use native z.toJSONSchema for Zod 4 and @n8n/json-schema-to-zod for JSON Schema input
  packages/global/package.json
  packages/global/src/validation.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): support external Zod 3 schemas in IIFE build
  packages/global/src/validation.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): Simplify to Zod 3.25+ only support
  .changeset/fix-zod4-mixed-versions.md
  .changeset/pre.json
  .changeset/zod-dual-version-support.md
  e2e/playwright-validation-matrix.config.ts
  e2e/tests/validation-matrix.spec.ts
  e2e/vanilla-esm-zod4/index.html
  e2e/vanilla-esm-zod4/package.json
  e2e/vanilla-esm-zod4/src/main.ts
  e2e/vanilla-esm-zod4/tsconfig.json
  e2e/vanilla-esm-zod4/vite.config.ts
  e2e/vanilla-iife-zod4/index.html
  e2e/vanilla-iife-zod4/package.json
  e2e/vanilla-iife-zod4/vite.config.ts
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/global/src/global.test.ts
  packages/global/src/validation.property.test.ts
  packages/global/src/validation.ts
  packages/react-webmcp/CHANGELOG.md
  packages/react-webmcp/package.json
  packages/react-webmcp/src/useWebMCPContext.ts
  packages/usewebmcp/CHANGELOG.md
  packages/usewebmcp/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): Simplify to Zod 3.25+ only support
  e2e/playwright-validation-matrix.config.ts
  e2e/tests/validation-matrix.spec.ts
  e2e/vanilla-esm-zod4/index.html
  e2e/vanilla-esm-zod4/package.json
  e2e/vanilla-esm-zod4/src/main.ts
  e2e/vanilla-esm-zod4/tsconfig.json
  e2e/vanilla-esm-zod4/vite.config.ts
  e2e/vanilla-iife-zod4/index.html
  e2e/vanilla-iife-zod4/package.json
  e2e/vanilla-iife-zod4/vite.config.ts
  packages/global/package.json
  packages/global/src/global.test.ts
  packages/global/src/validation.property.test.ts
  packages/global/src/validation.ts
  packages/react-webmcp/src/useWebMCPContext.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(extension-tools): Skip typecheck to avoid OOM
  packages/extension-tools/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): Convert Zod schemas to JSON Schema in NativeModelContextAdapter
  packages/global/src/global.ts
  packages/global/src/types.ts
Due: biome check --write --no-errors-on-unmatched

fix(chrome-devtools-mcp): Fix CLI defaulting to 'dev' channel with empty executablePath
  .github/workflows/claude-webmcp-test.yml
  packages/chrome-devtools-mcp/src/cli.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): Simplify to Zod 3.25+ only support (#66)
  .github/workflows/claude-webmcp-test.yml
  e2e/playwright-validation-matrix.config.ts
  e2e/tests/validation-matrix.spec.ts
  e2e/vanilla-esm-zod4/index.html
  e2e/vanilla-esm-zod4/package.json
  e2e/vanilla-esm-zod4/src/main.ts
  e2e/vanilla-esm-zod4/tsconfig.json
  e2e/vanilla-esm-zod4/vite.config.ts
  e2e/vanilla-iife-zod4/index.html
  e2e/vanilla-iife-zod4/package.json
  e2e/vanilla-iife-zod4/vite.config.ts
  packages/chrome-devtools-mcp/src/cli.ts
  packages/extension-tools/package.json
  packages/global/package.json
  packages/global/src/global.test.ts
  packages/global/src/global.ts
  packages/global/src/types.ts
  packages/global/src/validation.property.test.ts
  packages/global/src/validation.ts
  packages/react-webmcp/src/useWebMCPContext.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(release): reset to 1.x versions after unpublishing broken 2.0.x
  .changeset/zod-dual-version-support.md
  packages/chrome-devtools-mcp/package.json
  packages/extension-tools/package.json
  packages/global/package.json
  packages/mcp-iframe/package.json
  packages/react-webmcp/package.json
  packages/smart-dom-reader/package.json
  packages/transports/package.json
  packages/usewebmcp/package.json
  packages/webmcp-ts-sdk/package.json
  scripts/publish-ordered.sh
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(root): add --tag latest to publish script for version downgrades
  scripts/publish-ordered.sh
Due: none

chore(deps): bump dependencies
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  e2e/web-standards-showcase/package.json
  packages/chrome-devtools-mcp/package.json
  packages/smart-dom-reader/mcp-server/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(deps): configure dependabot to only monitor published packages
  .github/dependabot.yml
Due: biome check --write --no-errors-on-unmatched

chore(deps): bump dependencies (combined) (#79)
  .github/dependabot.yml
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  e2e/web-standards-showcase/package.json
  packages/chrome-devtools-mcp/package.json
  packages/smart-dom-reader/mcp-server/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(deps): combine dependency updates (#80-84)
  .github/workflows/claude-webmcp-test.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e.yml
  .github/workflows/release-canary.yml
  .github/workflows/scorecard.yml
  packages/chrome-devtools-mcp/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(chrome-devtools-mcp): remove unused ts-expect-error directives
  packages/chrome-devtools-mcp/src/browser.ts
  packages/chrome-devtools-mcp/src/tools/pages.ts
Due: biome check --write --no-errors-on-unmatched

ci: disable WebMCP integration test on PRs
  .github/workflows/claude-webmcp-test.yml
Due: biome check --write --no-errors-on-unmatched

fix(global): switch to @composio/json-schema-to-zod for native ESM support
  packages/global/package.json
  packages/global/src/esm-resolution.test.ts
  packages/global/src/validation.ts
  packages/global/vitest.config.ts
  packages/global/vitest.node.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(global): add comprehensive json-schema-to-zod edge case tests
  packages/global/src/validation.property.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): switch to @composio/json-schema-to-zod for native ESM support (#86)
  packages/global/package.json
  packages/global/src/esm-resolution.test.ts
  packages/global/src/validation.property.test.ts
  packages/global/src/validation.ts
  packages/global/vitest.config.ts
  packages/global/vitest.node.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(global): bump version to 1.4.0
  packages/global/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(release): bump react-webmcp to 1.1.1 and usewebmcp to 0.1.1
  packages/react-webmcp/package.json
  packages/usewebmcp/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(root): add fetch-wrapper server tool helpers
  docs/FETCH_PROXY_IMPLEMENTATION_PLAN.md
  packages/fetch-wrapper/README.md
  packages/fetch-wrapper/package.json
  packages/fetch-wrapper/src/index.test.ts
  packages/fetch-wrapper/src/index.ts
  packages/fetch-wrapper/src/types.ts
  packages/fetch-wrapper/tsconfig.json
  packages/fetch-wrapper/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(global): unify consumer API on navigator.modelContext
  packages/global/README.md
  packages/global/package.json
  packages/global/src/global.test.ts
  packages/global/src/global.ts
  packages/global/src/native-adapter.ts
  packages/global/src/native-consumer-shim.test.ts
  packages/global/src/testing.test.ts
  packages/global/src/testing.ts
  packages/global/src/types.ts
  packages/global/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(global): centralize tab server capability checks
  packages/global/src/global.ts
  packages/global/src/native-adapter.ts
  packages/global/src/native-consumer-shim.test.ts
  packages/global/src/tab-server-capabilities.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): align webmcp elicitation types and bind tab capabilities
  packages/global/src/tab-server-capabilities.test.ts
  packages/global/src/tab-server-capabilities.ts
  packages/global/src/types.ts
Due: biome check --write --no-errors-on-unmatched

test(global): add tarball e2e validation and conformance refs
  .github/workflows/e2e.yml
  docs/TESTING.md
  package.json
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  scripts/test-global-tarball-e2e.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(global): unify consumer API on navigator.modelContext (#98)
  .github/workflows/e2e.yml
  docs/TESTING.md
  package.json
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/package.json
  packages/global/src/global.test.ts
  packages/global/src/global.ts
  packages/global/src/native-adapter.ts
  packages/global/src/native-consumer-shim.test.ts
  packages/global/src/tab-server-capabilities.test.ts
  packages/global/src/tab-server-capabilities.ts
  packages/global/src/testing.test.ts
  packages/global/src/testing.ts
  packages/global/src/types.ts
  packages/global/tsdown.config.ts
  scripts/test-global-tarball-e2e.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(global): bump version to 1.5.0
  packages/global/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(types): add @mcp-b/types package for W3C Web Model Context API
  CLAUDE.md
  CONTRIBUTING.md
  commitlint.config.js
  packages/types/LICENSE
  packages/types/README.md
  packages/types/package.json
  packages/types/src/common.ts
  packages/types/src/index.test-d.ts
  packages/types/src/index.ts
  packages/types/src/prompt.test-d.ts
  packages/types/src/prompt.ts
  packages/types/src/resource.test-d.ts
  packages/types/src/resource.ts
  packages/types/src/tool.test-d.ts
  packages/types/src/tool.ts
  packages/types/tsconfig.build.json
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(types): strengthen typing ergonomics and docs
  packages/types/README.md
  packages/types/package.json
  packages/types/src/activation.test-d.ts
  packages/types/src/common.ts
  packages/types/src/index.test-d.ts
  packages/types/src/index.ts
  packages/types/src/prompt.test-d.ts
  packages/types/src/prompt.ts
  packages/types/src/resource.test-d.ts
  packages/types/src/resource.ts
  packages/types/src/tool.test-d.ts
  packages/types/src/tool.ts
  packages/types/src/typed-model-context.test-d.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(types): add conformance checks and strengthen type package
  .github/workflows/ci.yml
  docs/PURE_JSON_SCHEMA_TYPE_INFERENCE_PLAN.md
  package.json
  packages/types/package.json
  packages/types/src/conformance-global.conformance-d.ts
  packages/types/src/index.ts
  packages/types/src/model-context.ts
  packages/types/tsconfig.build.json
  packages/types/tsconfig.conformance.json
  packages/types/tsconfig.json
  packages/types/vitest.config.ts
  packages/types/vitest.conformance.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(types): stabilize conformance type resolution in CI
  packages/types/src/conformance-dependency-shims.d.ts
  packages/types/tsconfig.conformance.json
Due: biome check --write --no-errors-on-unmatched

refactor(types): align API surface with Chromium tool-first model
  packages/types/package.json
  packages/types/src/common.ts
  packages/types/src/conformance-global.conformance-d.ts
  packages/types/src/index.test-d.ts
  packages/types/src/index.ts
  packages/types/src/model-context.ts
  packages/types/src/prompt.test-d.ts
  packages/types/src/prompt.ts
  packages/types/src/resource.test-d.ts
  packages/types/src/resource.ts
  packages/types/src/typed-model-context.test-d.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(types): move elicitation into tool execution context
  packages/types/README.md
  packages/types/src/common.ts
  packages/types/src/conformance-global.conformance-d.ts
  packages/types/src/index.test-d.ts
  packages/types/src/index.ts
  packages/types/src/model-context.ts
  packages/types/src/tool.test-d.ts
  packages/types/src/tool.ts
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
