Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(react-webmcp): normalize zod schema map handling for tool schemas
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/react-webmcp/src/zod-utils.test.ts
  packages/react-webmcp/src/zod-utils.ts
Due: biome check --write --no-errors-on-unmatched

style(react-webmcp): format types for biome ci
  packages/react-webmcp/src/types.ts
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): handle mixed zod schema maps and convert outputSchema (#140)
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/react-webmcp/src/zod-utils.test.ts
  packages/react-webmcp/src/zod-utils.ts
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages v2.0.11
  packages/agent-skills/CHANGELOG.md
  packages/agent-skills/package.json
  packages/chrome-devtools-mcp/CHANGELOG.md
  packages/chrome-devtools-mcp/package.json
  packages/extension-tools/CHANGELOG.md
  packages/extension-tools/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/mcp-iframe/CHANGELOG.md
  packages/mcp-iframe/package.json
  packages/react-webmcp/CHANGELOG.md
  packages/react-webmcp/package.json
  packages/smart-dom-reader/CHANGELOG.md
  packages/smart-dom-reader/package.json
  packages/transports/CHANGELOG.md
  packages/transports/package.json
  packages/usewebmcp/CHANGELOG.md
  packages/usewebmcp/package.json
  packages/webmcp-local-relay/CHANGELOG.md
  packages/webmcp-local-relay/package.json
  packages/webmcp-polyfill/CHANGELOG.md
  packages/webmcp-polyfill/package.json
  packages/webmcp-ts-sdk/CHANGELOG.md
  packages/webmcp-ts-sdk/package.json
  packages/webmcp-types/CHANGELOG.md
  packages/webmcp-types/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(react-webmcp): guard InferOutput undefined fallback
  packages/react-webmcp/package.json
  packages/react-webmcp/src/type-tests/infer-output.strict-null-checks-false.ts
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/tsconfig.strict-null-checks-false.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(root): resolve pre-existing biome warnings in tests
  packages/agent-skills/tests/patch.test.ts
  packages/react-webmcp/src/useWebMCPPrompt.test.ts
  packages/react-webmcp/src/useWebMCPResource.test.ts
  packages/usewebmcp/src/useWebMCP.test.ts
Due: biome check --write --no-errors-on-unmatched

test(react-webmcp): strengthen strict-null fallback type coverage
  packages/react-webmcp/src/type-tests/infer-output.strict-null-checks-false.ts
Due: biome check --write --no-errors-on-unmatched

test(root): harden type inference regression coverage
  packages/react-webmcp/src/type-tests/infer-output.strict-null-checks-false.ts
  packages/usewebmcp/package.json
  packages/usewebmcp/src/type-tests/infer-output.strict-null-checks-false.ts
  packages/usewebmcp/src/types.ts
  packages/usewebmcp/tsconfig.strict-null-checks-false.json
  packages/webmcp-types/src/global-register-tools.test-d.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(release): version packages v2.0.12
  packages/agent-skills/CHANGELOG.md
  packages/agent-skills/package.json
  packages/chrome-devtools-mcp/CHANGELOG.md
  packages/chrome-devtools-mcp/package.json
  packages/extension-tools/CHANGELOG.md
  packages/extension-tools/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/mcp-iframe/CHANGELOG.md
  packages/mcp-iframe/package.json
  packages/react-webmcp/CHANGELOG.md
  packages/react-webmcp/package.json
  packages/smart-dom-reader/CHANGELOG.md
  packages/smart-dom-reader/package.json
  packages/transports/CHANGELOG.md
  packages/transports/package.json
  packages/usewebmcp/CHANGELOG.md
  packages/usewebmcp/package.json
  packages/webmcp-local-relay/CHANGELOG.md
  packages/webmcp-local-relay/package.json
  packages/webmcp-polyfill/CHANGELOG.md
  packages/webmcp-polyfill/package.json
  packages/webmcp-ts-sdk/CHANGELOG.md
  packages/webmcp-ts-sdk/package.json
  packages/webmcp-types/CHANGELOG.md
  packages/webmcp-types/package.json
  templates/site-package/tools/package-lock.json
  tmp/webmcp-doc-audit-notes.md
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat: add MCP-style zod3/zod4 compatibility matrix
  e2e/playwright-validation-matrix.config.ts
  e2e/react-webmcp-test-app-zod4/README.md
  e2e/react-webmcp-test-app-zod4/index.html
  e2e/react-webmcp-test-app-zod4/package.json
  e2e/react-webmcp-test-app-zod4/src/App.tsx
  e2e/react-webmcp-test-app-zod4/src/ClientConsumer.tsx
  e2e/react-webmcp-test-app-zod4/src/main.tsx
  e2e/react-webmcp-test-app-zod4/src/testMiddleware.ts
  e2e/react-webmcp-test-app-zod4/tsconfig.json
  e2e/react-webmcp-test-app-zod4/vite.config.ts
  e2e/react18-zod4/index.html
  e2e/react18-zod4/package.json
  e2e/react18-zod4/src/App.tsx
  e2e/react18-zod4/src/main.tsx
  e2e/react18-zod4/tsconfig.json
  e2e/react18-zod4/vite.config.ts
  e2e/tests/validation-matrix.spec.ts
  e2e/vanilla-esm-zod4/index.html
  e2e/vanilla-esm-zod4/package.json
  e2e/vanilla-esm-zod4/src/main.ts
  e2e/vanilla-esm-zod4/tsconfig.json
  e2e/vanilla-esm-zod4/vite.config.ts
  e2e/vanilla-iife-zod4/index.html
  e2e/vanilla-iife-zod4/package.json
  e2e/vanilla-iife-zod4/vite.config.ts
  packages/global/README.md
  packages/react-webmcp/README.md
  packages/react-webmcp/package.json
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/zod-utils.test.ts
  packages/react-webmcp/src/zod-utils.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(webmcp-polyfill): add vitest browser config and scripts
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

fix(transports): default targetOrigin to * and fix relay schema compat
  packages/transports/src/IframeParentTransport.ts
  packages/transports/src/TabClientTransport.ts
  packages/transports/src/TabTransport.browser.test.ts
  packages/webmcp-local-relay/src/schemas.test.ts
  packages/webmcp-local-relay/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched

fix(transports): default targetOrigin to * and fix relay schema compat (#149)
  packages/transports/src/IframeParentTransport.ts
  packages/transports/src/TabClientTransport.ts
  packages/transports/src/TabTransport.browser.test.ts
  packages/webmcp-local-relay/src/schemas.test.ts
  packages/webmcp-local-relay/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages v2.0.13
  packages/agent-skills/CHANGELOG.md
  packages/agent-skills/package.json
  packages/chrome-devtools-mcp/CHANGELOG.md
  packages/chrome-devtools-mcp/package.json
  packages/extension-tools/CHANGELOG.md
  packages/extension-tools/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/mcp-iframe/CHANGELOG.md
  packages/mcp-iframe/package.json
  packages/react-webmcp/CHANGELOG.md
  packages/react-webmcp/package.json
  packages/smart-dom-reader/CHANGELOG.md
  packages/smart-dom-reader/package.json
  packages/transports/CHANGELOG.md
  packages/transports/package.json
  packages/usewebmcp/CHANGELOG.md
  packages/usewebmcp/package.json
  packages/webmcp-local-relay/CHANGELOG.md
  packages/webmcp-local-relay/package.json
  packages/webmcp-polyfill/CHANGELOG.md
  packages/webmcp-polyfill/package.json
  packages/webmcp-ts-sdk/CHANGELOG.md
  packages/webmcp-ts-sdk/package.json
  packages/webmcp-types/CHANGELOG.md
  packages/webmcp-types/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(webmcp-local-relay): extract static tool schemas, add browser widget, and type-safe handlers
  packages/webmcp-local-relay/package.json
  packages/webmcp-local-relay/scripts/build-widget-html.js
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/shared.test.ts
  packages/webmcp-local-relay/src/browser/shared.ts
  packages/webmcp-local-relay/src/browser/widget.ts
  packages/webmcp-local-relay/src/mcpRelayServer.test.ts
  packages/webmcp-local-relay/src/mcpRelayServer.ts
  packages/webmcp-local-relay/src/relay.e2e.test.ts
  packages/webmcp-local-relay/src/staticToolSchemas.test.ts
  packages/webmcp-local-relay/src/staticToolSchemas.ts
  packages/webmcp-local-relay/tsconfig.browser.json
  packages/webmcp-local-relay/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(extension-tools): add zod-json-schema compat module and e2e tests
  packages/extension-tools/e2e/build-extension.mjs
  packages/extension-tools/e2e/extension-runtime.e2e.test.ts
  packages/extension-tools/e2e/extension/background.ts
  packages/extension-tools/e2e/extension/client.html
  packages/extension-tools/e2e/extension/client.ts
  packages/extension-tools/e2e/extension/manifest.json
  packages/extension-tools/e2e/tsconfig.extension.json
  packages/extension-tools/e2e/tsdown.extension.config.ts
  packages/extension-tools/package.json
  packages/extension-tools/src/zod-json-schema-compat.test.ts
  packages/extension-tools/src/zod-json-schema-compat.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(root): add runtime contract e2e test infrastructure
  e2e/package.json
  e2e/runtime-contract/browser-contract.d.ts
  e2e/runtime-contract/browser-contract.js
  e2e/runtime-contract/core.d.ts
  e2e/runtime-contract/core.js
  e2e/runtime-contract/server-contract.d.ts
  e2e/runtime-contract/server-contract.js
  e2e/test-app/runtime-contract-iframe-child.html
  e2e/test-app/runtime-contract-iframe-client.html
  e2e/test-app/runtime-contract.html
  e2e/test-app/src/runtime-contract-globals.d.ts
  e2e/test-app/src/runtime-contract-iframe-child.ts
  e2e/test-app/src/runtime-contract-iframe-client.ts
  e2e/test-app/src/runtime-contract.ts
  e2e/test-app/vite.config.ts
  e2e/tests/runtime-contract-iframe.spec.ts
  e2e/tests/runtime-contract-native.spec.ts
  e2e/tests/runtime-contract-tab.spec.ts
  e2e/tests/runtime-contract.helpers.ts
  e2e/types/globals.d.ts
  packages/chrome-devtools-mcp/package.json
  packages/chrome-devtools-mcp/tests/webmcp.runtime-contract.e2e.test.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(root): update testing docs and CI for runtime contract lanes
  .github/workflows/e2e.yml
  docs/TESTING.md
  docs/TESTING_PHILOSOPHY.md
  e2e/README.md
  e2e/tests/CHROMIUM_TESTING.md
Due: biome check --write --no-errors-on-unmatched

chore(root): update root scripts and lockfile
  package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix: sanitize relay logs and repair beta parity CI
  e2e/playwright-chrome-beta-webmcp.config.ts
  e2e/tests/runtime-contract-native.spec.ts
  packages/webmcp-local-relay/example/widget.html
  packages/webmcp-local-relay/src/browser/shared.test.ts
  packages/webmcp-local-relay/src/browser/shared.ts
  packages/webmcp-local-relay/src/browser/widget.html
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widget.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): install puppeteer Chrome for chrome-devtools-mcp e2e tests
  .github/workflows/e2e.yml
Due: biome check --write --no-errors-on-unmatched

fix(chrome-devtools-mcp): add --no-sandbox flags for CI in test utils
  packages/chrome-devtools-mcp/tests/utils.ts
Due: biome check --write --no-errors-on-unmatched

test: raise widget runtime coverage
  packages/webmcp-local-relay/package.json
  packages/webmcp-local-relay/src/browser/shared.test.ts
  packages/webmcp-local-relay/src/browser/widget.entry.test.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widget.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(webmcp-local-relay): add verified relay discovery
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/bridgeServer.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/shared.test.ts
  packages/webmcp-local-relay/src/browser/shared.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-local-relay/src/cli-utils.test.ts
  packages/webmcp-local-relay/src/cli-utils.ts
  packages/webmcp-local-relay/src/cli.ts
  packages/webmcp-local-relay/src/index.ts
  packages/webmcp-local-relay/src/portStrategy.test.ts
  packages/webmcp-local-relay/src/portStrategy.ts
  packages/webmcp-local-relay/src/schemas.test.ts
  packages/webmcp-local-relay/src/schemas.ts
Due: biome check --write --no-errors-on-unmatched

feat(webmcp-local-relay): add proactive server heartbeat for dead connection detection
  packages/webmcp-local-relay/src/bridgeServer.ts
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages
  The-Complete-Guide-to-Building-Skill-for-Claude.pdf
  packages/agent-skills/CHANGELOG.md
  packages/agent-skills/package.json
  packages/chrome-devtools-mcp/CHANGELOG.md
  packages/chrome-devtools-mcp/package.json
  packages/extension-tools/CHANGELOG.md
  packages/extension-tools/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/mcp-iframe/CHANGELOG.md
  packages/mcp-iframe/package.json
  packages/react-webmcp/CHANGELOG.md
  packages/react-webmcp/package.json
  packages/smart-dom-reader/CHANGELOG.md
  packages/smart-dom-reader/package.json
  packages/transports/CHANGELOG.md
  packages/transports/package.json
  packages/usewebmcp/CHANGELOG.md
  packages/usewebmcp/package.json
  packages/webmcp-local-relay/CHANGELOG.md
  packages/webmcp-local-relay/package.json
  packages/webmcp-polyfill/CHANGELOG.md
  packages/webmcp-polyfill/package.json
  packages/webmcp-ts-sdk/CHANGELOG.md
  packages/webmcp-ts-sdk/package.json
  packages/webmcp-types/CHANGELOG.md
  packages/webmcp-types/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(root): remove accidentally committed PDF
  The-Complete-Guide-to-Building-Skill-for-Claude.pdf
Due: none

fix(webmcp-local-relay): use workspace:* for internal webmcp-types dep
  packages/webmcp-local-relay/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(*): coalesce same-task tool change notifications
  .changeset/calm-pumas-wave.md
  packages/global/src/global.test.ts
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(*): align WebMCP deprecation compatibility
  .changeset/green-donuts-lie.md
  packages/global/README.md
  packages/global/src/global.test.ts
  packages/react-webmcp/README.md
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/README.md
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-types/README.md
  packages/webmcp-types/src/index.test-d.ts
  packages/webmcp-types/src/index.ts
  packages/webmcp-types/src/model-context.ts
Due: biome check --write --no-errors-on-unmatched

test(webmcp-polyfill): cover metadata-changing same-task churn
  packages/webmcp-polyfill/src/index.test.ts
Due: biome check --write --no-errors-on-unmatched

test(*): tighten WebMCP compatibility validation
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/src/conformance/polyfill-runtime.e2e.test.ts
  packages/global/src/conformance/runtime-core-conformance.shared.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

fix(*): tolerate partial native model context APIs
  packages/global/src/global.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): restore native showcase parity
  codecov.yml
  e2e/web-standards-showcase/src/api/detection.ts
  e2e/web-standards-showcase/src/iframe-main.ts
  e2e/web-standards-showcase/src/lib/utils.ts
  e2e/web-standards-showcase/src/main.ts
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/webmcp-polyfill/src/index.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): tolerate partial native showcase surface
  e2e/tests/native-showcase.spec.ts
  e2e/web-standards-showcase/src/api/detection.ts
  e2e/web-standards-showcase/src/iframe-main.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/types.ts
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
