Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(docs): make explanation paths more visual
  apps/documentation-website/explanation/architecture/runtime-layering.mdx
  apps/documentation-website/explanation/architecture/tool-lifecycle-and-context-replacement.mdx
  apps/documentation-website/explanation/architecture/transports-and-bridges.mdx
  apps/documentation-website/explanation/design/security-and-human-in-the-loop.mdx
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/explanation/strict-core-vs-mcp-b-extensions.mdx
  apps/documentation-website/explanation/what-is-webmcp.mdx
  apps/documentation-website/index.mdx
Due: none

docs(docs): make explanation paths more visual (#296)
  apps/documentation-website/explanation/architecture/runtime-layering.mdx
  apps/documentation-website/explanation/architecture/tool-lifecycle-and-context-replacement.mdx
  apps/documentation-website/explanation/architecture/transports-and-bridges.mdx
  apps/documentation-website/explanation/design/security-and-human-in-the-loop.mdx
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/explanation/strict-core-vs-mcp-b-extensions.mdx
  apps/documentation-website/explanation/what-is-webmcp.mdx
  apps/documentation-website/index.mdx
Due: none

docs(docs): restore pre-refactor docs homepage
  apps/documentation-website/index.mdx
Due: none

docs(docs): restore pre-refactor docs homepage (#297)
  apps/documentation-website/index.mdx
Due: none

fix(docs): clean agent-facing documentation
  apps/documentation-website/index.mdx
  apps/documentation-website/llms.txt
  apps/documentation-website/load-webmcp.js
  apps/documentation-website/package.json
  apps/documentation-website/snippets-jsx/live-landing-tool.jsx
  apps/documentation-website/start-here/metadata.mdx
  apps/documentation-website/tests/agent-surfaces.test.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(docs): clean agent-facing documentation (#298)
  apps/documentation-website/index.mdx
  apps/documentation-website/llms.txt
  apps/documentation-website/load-webmcp.js
  apps/documentation-website/package.json
  apps/documentation-website/snippets-jsx/live-landing-tool.jsx
  apps/documentation-website/start-here/metadata.mdx
  apps/documentation-website/tests/agent-surfaces.test.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): scope release workflow triggers
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): scope release workflow triggers (#299)
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

fix(transports): stop injecting Chrome globals into consumers
  .changeset/quiet-ports-own-types.md
  apps/documentation-website/packages/transports/reference.mdx
  packages/transports/README.md
  packages/transports/package.json
  packages/transports/src/ExtensionServerTransport.test.ts
  packages/transports/src/ExtensionServerTransport.ts
  packages/transports/type-tests/browser.ts
  packages/transports/type-tests/extension.ts
  packages/transports/type-tests/tsconfig.extension.json
  packages/transports/type-tests/tsconfig.json
  packages/transports/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(transports): stop injecting Chrome globals into consumers (#301)
  .changeset/quiet-ports-own-types.md
  apps/documentation-website/packages/transports/reference.mdx
  packages/transports/README.md
  packages/transports/package.json
  packages/transports/src/ExtensionServerTransport.test.ts
  packages/transports/src/ExtensionServerTransport.ts
  packages/transports/type-tests/browser.ts
  packages/transports/type-tests/extension.ts
  packages/transports/type-tests/tsconfig.extension.json
  packages/transports/type-tests/tsconfig.json
  packages/transports/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(*): strengthen MCP-B search foundations
  README.md
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/explanation/index.mdx
  apps/documentation-website/explanation/what-is-webmcp.mdx
  apps/documentation-website/how-to/index.mdx
  apps/documentation-website/index.mdx
  apps/documentation-website/packages/index.mdx
  apps/documentation-website/reference/webmcp/codex-site-tools.mdx
  apps/documentation-website/start-here/choose-your-path.mdx
  apps/documentation-website/start-here/metadata.mdx
  apps/documentation-website/tests/agent-surfaces.test.mjs
  apps/documentation-website/tutorials/index.mdx
  apps/landing-page/src/components/BaseHead.astro
  apps/landing-page/src/components/Footer.astro
  apps/landing-page/src/components/section/footer.astro
  apps/landing-page/src/layouts/BlogPost.astro
  apps/landing-page/src/layouts/Codeforge.astro
  apps/landing-page/src/lib/config.tsx
  apps/landing-page/src/middleware.ts
  apps/landing-page/src/pages/blog/mcp-b-introduction.md
  apps/landing-page/src/pages/blog/webmcp-challenge.astro
  apps/landing-page/src/pages/contact.astro
  apps/landing-page/src/pages/index.astro
Due: biome check --write --no-errors-on-unmatched

feat(react-webmcp): add enabled registration and render budgets
  .changeset/bright-hooks-render.md
  apps/documentation-website/packages/react-webmcp/reference.mdx
  apps/documentation-website/packages/usewebmcp/reference.mdx
  docs/TESTING.md
  packages/react-webmcp/README.md
  packages/react-webmcp/package.json
  packages/react-webmcp/src/client/McpClientProvider.rerenders.test.tsx
  packages/react-webmcp/src/public-types.test-d.ts
  packages/react-webmcp/src/registration-hooks.test.tsx
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/useMcpRegistration.ts
  packages/react-webmcp/src/useWebMCPContext.ts
  packages/react-webmcp/src/useWebMCPPrompt.ts
  packages/react-webmcp/src/useWebMCPResource.ts
  packages/usewebmcp/README.md
  packages/usewebmcp/src/types.ts
  packages/usewebmcp/src/useWebMCP.rerenders.test.tsx
  packages/usewebmcp/src/useWebMCP.ts
  packages/usewebmcp/type-tests/inference.test.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(deps): combine compatible Dependabot updates
  .changeset/easy-dependency-patches.md
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  .github/workflows/scorecard.yml
  examples/frameworks/angular/package.json
  examples/frameworks/nextjs/package.json
  examples/frameworks/react/package.json
  examples/frameworks/svelte/package.json
  examples/frameworks/vanilla/package.json
  examples/frameworks/vue/package.json
  package.json
  packages/webmcp-local-relay/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): recover release signatures with cosign bundles
  .agents/skills/release/SKILL.md
  .github/workflows/changesets.yml
  scripts/release-safety.test.mjs
Due: biome check --write --no-errors-on-unmatched

chore(deps): roll up remaining compatible generated updates
  .changeset/updated-browser-tooling.md
  .github/workflows/e2e.yml
  apps/documentation-website/package.json
  apps/landing-page/package.json
  e2e/package.json
  e2e/react-webmcp-test-app/package.json
  e2e/web-standards-showcase/package.json
  examples/frameworks/angular/package.json
  examples/frameworks/astro/package.json
  examples/frameworks/nextjs/package.json
  examples/frameworks/react/package.json
  examples/frameworks/svelte/package.json
  examples/frameworks/vanilla/package.json
  examples/frameworks/vue/package.json
  packages/react-webmcp/package.json
  packages/smart-dom-reader/mcp-server/package.json
  packages/usewebmcp/package.json
  packages/webmcp-local-relay/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): recover release signatures with cosign bundles (#322)
  .agents/skills/release/SKILL.md
  .github/workflows/changesets.yml
  scripts/release-safety.test.mjs
Due: biome check --write --no-errors-on-unmatched

fix(release): restore compatible action and refresh 5.1.0
  .changeset/easy-dependency-patches.md
  .changeset/updated-browser-tooling.md
  .github/dependabot.yml
  .github/workflows/changesets.yml
  packages/smart-dom-reader/mcp-server/CHANGELOG.md
  packages/webmcp-local-relay/CHANGELOG.md
Due: biome check --write --no-errors-on-unmatched

fix(*): redirect legacy and canonical URL variants
  apps/documentation-website/docs.json
  apps/documentation-website/tests/agent-surfaces.test.mjs
  apps/landing-page/src/middleware.ts
Due: biome check --write --no-errors-on-unmatched

docs: target high-impression WebMCP queries
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  apps/landing-page/src/pages/blog/index.astro
  apps/landing-page/src/pages/blog/webmcp-challenge.astro
Due: none

docs: improve high-impression search snippets
  apps/documentation-website/how-to/debug-and-troubleshoot.mdx
Due: none

style: format search metadata changes
  apps/documentation-website/reference/webmcp/standard-api.mdx
  apps/documentation-website/tests/agent-surfaces.test.mjs
Due: biome check --write --no-errors-on-unmatched

feat(landing-page): add canonical MCP-B about page
  apps/landing-page/src/components/BaseHead.astro
  apps/landing-page/src/components/section/footer.astro
  apps/landing-page/src/middleware.ts
  apps/landing-page/src/pages/about.astro
  apps/landing-page/tests/seo.test.mjs
Due: biome check --write --no-errors-on-unmatched

docs: improve schema and ChatGPT search snippets
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/reference/webmcp/codex-site-tools.mdx
Due: none

docs: improve WebMCP consulting search intent
  apps/landing-page/src/pages/contact.astro
Due: none

docs: connect MCP-B organization entities
  apps/landing-page/src/components/BaseHead.astro
Due: none

test: verify canonical marketing redirects
  apps/landing-page/tests/seo.test.mjs
Due: biome check --write --no-errors-on-unmatched

fix(smart-dom-reader): unique selectors for shadow-root children
  packages/smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  packages/smart-dom-reader/mcp-server/lib/smart-dom-reader.bundle.js
  packages/smart-dom-reader/src/bundle-string.ts
  packages/smart-dom-reader/src/selectors.ts
  packages/smart-dom-reader/test/local-playwright-runner.mjs
Due: biome check --write --no-errors-on-unmatched

feat(react-webmcp): add guarded consent flow
  .changeset/consent-layer.md
  packages/react-webmcp/src/ConsentBrokerProvider.tsx
  packages/react-webmcp/src/consent-annotations.test.ts
  packages/react-webmcp/src/consent-annotations.ts
  packages/react-webmcp/src/consent-broker.test.ts
  packages/react-webmcp/src/consent-broker.ts
  packages/react-webmcp/src/consent-types.ts
  packages/react-webmcp/src/index.ts
  packages/react-webmcp/src/useGuardedWebMCP.test.tsx
  packages/react-webmcp/src/useGuardedWebMCP.ts
Due: biome check --write --no-errors-on-unmatched

docs(readme): point extension links at Rook
  README.md
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): record decisions on no-approval path and fix conditional spreads
  packages/react-webmcp/src/consent-broker.ts
  packages/react-webmcp/src/useGuardedWebMCP.ts
Due: biome check --write --no-errors-on-unmatched

feat(react-webmcp): add WebAuthn user-presence verification
  packages/react-webmcp/package.json
  packages/react-webmcp/src/consent-presence.ts
  packages/react-webmcp/src/consent-types.ts
  packages/react-webmcp/src/index.ts
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(react-webmcp): add presence failure lockout and rate-limiting to consent broker
  docs/consent-layer/PR_description.md
  packages/react-webmcp/src/consent-broker.test.ts
  packages/react-webmcp/src/consent-broker.ts
  packages/react-webmcp/src/consent-types.ts
Due: biome check --write --no-errors-on-unmatched

chore(deps): update pnpm-lock.yaml
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

test(react-webmcp): cover consent provider and guarded hook paths
  packages/react-webmcp/src/ConsentBrokerProvider.test.tsx
  packages/react-webmcp/src/useGuardedWebMCP.test.tsx
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): export MAX_PRESENCE_ATTEMPTS from index
  packages/react-webmcp/src/index.ts
Due: biome check --write --no-errors-on-unmatched

chore: remove dev script
  packages/react-webmcp/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore: sync pnpm-lock.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
