Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}": ["biome check --write --no-errors-on-unmatched"],
  "package.json": ["pnpm dlx sort-package-json"]
}

fix(global): pin upstream frame emission packaging fix
  .github/workflows/ci.yml
  packages/global/README.md
  packages/global/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(usewebmcp): use object input in native hook checks
  packages/usewebmcp/src/useWebMCP.native.ts
Due: biome check --write --no-errors-on-unmatched

docs(release): describe consent as a new unreleased API
  .changeset/consent-layer.md
Due: biome check --write --no-errors-on-unmatched

fix(global): prepare official runtime locally and scope iframe mirrors
  .changeset/official-webmcp-runtime.md
  .npmrc
  e2e/tests/mcp-iframe-element.spec.ts
  packages/global/README.md
  packages/global/package.json
  packages/webmcp-ts-sdk/src/browser-server.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(root): align showcase and relay checks with official execution
  e2e/tests/native-showcase.spec.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/types.ts
  packages/webmcp-local-relay/src/relay.e2e.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-ts-sdk): expose descendant tools without ancestor feedback
  .changeset/official-webmcp-runtime.md
  e2e/tests/mcp-iframe-element.spec.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

test(webmcp-ts-sdk): cover frame-scoped native tool execution
  packages/webmcp-ts-sdk/src/browser-server.test.ts
Due: biome check --write --no-errors-on-unmatched

refactor(react-webmcp): remove redundant consent forwarding modules
  packages/react-webmcp/src/ConsentBrokerProvider.test.tsx
  packages/react-webmcp/src/ConsentBrokerProvider.tsx
  packages/react-webmcp/src/consent-annotations.test.ts
  packages/react-webmcp/src/consent-annotations.ts
  packages/react-webmcp/src/consent-broker.test.ts
  packages/react-webmcp/src/consent-broker.ts
  packages/react-webmcp/src/consent-presence.ts
  packages/react-webmcp/src/consent-types.ts
  packages/react-webmcp/src/index.ts
  packages/react-webmcp/src/useGuardedWebMCP.test.tsx
  packages/webmcp-plugins/src/consent-types.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): scope testing shim to visible frame tools
  e2e/tests/mcp-iframe-element.spec.ts
  packages/global/README.md
  packages/global/src/global.test.ts
  packages/global/src/global.ts
Due: biome check --write --no-errors-on-unmatched

chore(root): collapse generated benchmark data in reviews
  .gitattributes
Due: none

docs(global): remove stale bundle-size claims
  packages/global/README.md
Due: biome check --write --no-errors-on-unmatched

test(global): cover frame-scoped testing shim lookup
  packages/global/src/global.test.ts
Due: biome check --write --no-errors-on-unmatched

chore(root): keep hook benchmark artifacts local
  .gitattributes
  .gitignore
  apps/documentation-website/images/react-hooks/performance-dark.png
  apps/documentation-website/images/react-hooks/performance-light.png
  apps/documentation-website/images/react-hooks/provenance.json
  apps/documentation-website/packages/usewebmcp/overview.mdx
  benchmarks/react-hooks/PRODUCTION.md
  benchmarks/react-hooks/README.md
  benchmarks/react-hooks/RESULTS.md
  benchmarks/react-hooks/bundle-results.json
  benchmarks/react-hooks/index.html
  benchmarks/react-hooks/measure.jsx
  benchmarks/react-hooks/production-results.json
  benchmarks/react-hooks/report.html
  benchmarks/react-hooks/results.json
  benchmarks/react-hooks/run.mjs
  packages/usewebmcp/README.md
Due: biome check --write --no-errors-on-unmatched

chore(ci): scope coverage to MCP-B maintained code
  codecov.yml
Due: biome check --write --no-errors-on-unmatched

refactor(webmcp-local-relay): use upstream frame bridge
  .changeset/relay-frame-bridge.md
  apps/documentation-website/how-to/connect-desktop-agents-with-local-relay.mdx
  apps/documentation-website/packages/webmcp-local-relay/reference.mdx
  packages/webmcp-local-relay/README.md
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widget.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-local-relay/src/relay.e2e.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(deps): upgrade Astro past critical advisory
  AGENTS.md
  apps/landing-page/README.md
  apps/landing-page/package.json
  examples/frameworks/astro/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(deps): align Astro example range with syncpack
  examples/frameworks/astro/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(*): trim guarded invocation flow
  packages/react-webmcp/src/useGuardedWebMCP.ts
  packages/webmcp-plugins/src/consent-guard.ts
Due: biome check --write --no-errors-on-unmatched

refactor(*): collapse duplicate middleware and relay logic
  packages/react-webmcp/src/index.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-plugins/src/consent-guard.ts
  packages/webmcp-plugins/src/consent-types.ts
  packages/webmcp-plugins/src/consent.ts
  packages/webmcp-plugins/src/execution-state.ts
  packages/webmcp-plugins/src/otel.ts
Due: biome check --write --no-errors-on-unmatched

refactor(usewebmcp): keep core hooks upstream-only
  .changeset/core-only-usewebmcp.md
  apps/documentation-website/_data/packages.json
  apps/documentation-website/explanation/strict-core-vs-mcp-b-extensions.mdx
  apps/documentation-website/how-to/frameworks.mdx
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/packages/react-webmcp/overview.mdx
  apps/documentation-website/packages/react-webmcp/reference.mdx
  apps/documentation-website/packages/usewebmcp/overview.mdx
  apps/documentation-website/packages/usewebmcp/reference.mdx
  apps/documentation-website/packages/webmcp-ts-sdk/reference.mdx
  apps/documentation-website/snippets/packages/react-webmcp-standard-schema.mdx
  apps/documentation-website/tutorials/first-react-tool.mdx
  docs/MCPB_PACKAGE_PHILOSOPHY.md
  docs/TESTING.md
  packages/react-webmcp/package.json
  packages/react-webmcp/src/index.ts
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/README.md
  packages/usewebmcp/package.json
  packages/usewebmcp/src/index.ts
  packages/usewebmcp/src/internal.ts
  packages/usewebmcp/src/schema.test.ts
  packages/usewebmcp/src/schema.ts
  packages/usewebmcp/src/types.ts
  packages/usewebmcp/src/useWebMCP.execution.test.ts
  packages/usewebmcp/src/useWebMCP.native.ts
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/usewebmcp/type-tests/inference.test.ts
  packages/usewebmcp/vite.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(usewebmcp): snapshot adapter per execution
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/src/useWebMCP.ts
Due: biome check --write --no-errors-on-unmatched

refactor(react-webmcp): restore spies after each hook test
  packages/react-webmcp/src/useWebMCP.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(*): preserve native declarative form results over MCP
  .changeset/upstream-browser-adapter.md
  .changeset/upstream-global-runtime.md
  .changeset/upstream-relay-runtime.md
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/relay.e2e.test.ts
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-polyfill): retain declarative forms until upstream supports them
  .changeset/official-webmcp-runtime.md
  .changeset/upstream-global-runtime.md
  .changeset/upstream-types-alias.md
  AGENTS.md
  README.md
  apps/documentation-website/explanation/architecture/runtime-layering.mdx
  apps/documentation-website/how-to/choose-runtime.mdx
  apps/documentation-website/packages/global/reference.mdx
  apps/documentation-website/packages/webmcp-extension/overview.mdx
  apps/documentation-website/packages/webmcp-extension/reference.mdx
  apps/documentation-website/packages/webmcp-polyfill/overview.mdx
  apps/documentation-website/packages/webmcp-polyfill/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  conformance/declarative-forms-conformance.shared.ts
  docs/AI_CONTRIBUTION_MANIFESTO.md
  docs/MCPB_PACKAGE_PHILOSOPHY.md
  docs/TESTING.md
  docs/global-guide.md
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/conformance/polyfill-runtime.e2e.test.ts
  packages/global/package.json
  packages/global/src/global.test.ts
  packages/global/src/global.ts
  packages/global/src/types.test-d.ts
  packages/global/src/types.ts
  packages/global/vite.config.ts
  packages/webmcp-extension/README.md
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/package.json
  packages/webmcp-polyfill/src/declarative-forms.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-polyfill/src/types.test-d.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(webmcp-polyfill): collect standalone declarative coverage in its package
  AGENTS.md
  conformance/declarative-forms-conformance.shared.ts
  docs/TESTING.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/package.json
  packages/global/vite.config.ts
  packages/webmcp-polyfill/src/declarative-forms.test.ts
  packages/webmcp-polyfill/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(webmcp-polyfill): honor abort signals and fire lifecycle events on the context
  .changeset/official-webmcp-runtime.md
  apps/documentation-website/packages/webmcp-polyfill/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  apps/documentation-website/snippets/packages/webmcp-polyfill-quickstart.ts
  conformance/declarative-forms-conformance.shared.ts
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/package.json
  packages/webmcp-polyfill/src/declarative-forms.test.ts
  packages/webmcp-polyfill/src/declarative-forms.ts
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-polyfill/src/types.test-d.ts
  packages/webmcp-polyfill/vite.config.ts
  scripts/run-webmcp-wpt.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(webmcp-ts-sdk): forward lifecycle events and keep duplicate names per document
  .changeset/upstream-browser-adapter.md
  .changeset/upstream-types-alias.md
  apps/documentation-website/packages/webmcp-ts-sdk/reference.mdx
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/package.json
  packages/webmcp-ts-sdk/src/browser-server-no-context.test.ts
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-ts-sdk/src/common.ts
  packages/webmcp-ts-sdk/src/index.ts
  packages/webmcp-ts-sdk/src/normalize.ts
  packages/webmcp-ts-sdk/src/schema.ts
  packages/webmcp-ts-sdk/src/tool.ts
  packages/webmcp-ts-sdk/type-tests/consumer.ts
  packages/webmcp-types/README.md
  packages/webmcp-types/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(usewebmcp): return null for void results and reject Standard Schema inputs
  .changeset/core-only-usewebmcp.md
  apps/documentation-website/packages/usewebmcp/overview.mdx
  apps/documentation-website/packages/usewebmcp/reference.mdx
  packages/usewebmcp/README.md
  packages/usewebmcp/package.json
  packages/usewebmcp/src/types.ts
  packages/usewebmcp/src/useWebMCP.native.ts
  packages/usewebmcp/src/useWebMCP.rerenders.test.tsx
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/usewebmcp/tsconfig.json
  packages/usewebmcp/type-tests/inference.test.ts
  packages/usewebmcp/vite.config.ts
  scripts/check-react-hook-packages.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(react-webmcp): validate Standard Schema input once over MCP
  .changeset/upstream-react-hooks.md
  apps/documentation-website/packages/react-webmcp/overview.mdx
  apps/documentation-website/packages/react-webmcp/reference.mdx
  e2e/playwright-react-webmcp-prod.config.ts
  e2e/playwright-react-webmcp.config.ts
  packages/react-webmcp/README.md
  packages/react-webmcp/src/model-context.ts
  packages/react-webmcp/src/registration-hooks.test.tsx
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/useCommittedRef.test.ts
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/react-webmcp/src/useWebMCPContext.test.ts
  packages/react-webmcp/src/useWebMCPPrompt.test.ts
  packages/react-webmcp/src/useWebMCPResource.test.ts
  packages/react-webmcp/tsconfig.json
  packages/react-webmcp/vite.config.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): prove native hook precedence and document cleanup semantics
  .changeset/upstream-global-runtime.md
  apps/documentation-website/packages/global/reference.mdx
  docs/global-guide.md
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/conformance/global-runtime.e2e.test.ts
  packages/global/conformance/native-runtime.e2e.test.ts
  packages/global/src/global.test.ts
  packages/global/vite.config.ts
  packages/global/vitest.conformance.native.config.ts
Due: biome check --write --no-errors-on-unmatched

fix(transports): keep port messages unknown at the wire boundary
  packages/transports/package.json
  packages/transports/src/ExtensionClientTransport.ts
  packages/transports/src/ExtensionServerTransport.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(webmcp-extension): add the 6.0 changeset and correct navigation results
  .changeset/upstream-extension-client.md
  apps/documentation-website/packages/webmcp-extension/reference.mdx
  packages/webmcp-extension/README.md
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-local-relay): drop zod from host-page scripts
  .changeset/upstream-relay-runtime.md
  apps/documentation-website/packages/webmcp-local-relay/reference.mdx
  e2e/web-standards-showcase/.gitignore
  e2e/web-standards-showcase/CHROMIUM_FLAGS.md
  e2e/web-standards-showcase/README.md
  e2e/web-standards-showcase/package.json
  e2e/web-standards-showcase/public/relay/embed.js
  e2e/web-standards-showcase/public/relay/widget.html
  e2e/web-standards-showcase/src/components/ToolExecutionPanel.tsx
  packages/webmcp-local-relay/README.md
  packages/webmcp-local-relay/package.json
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-local-relay/src/browser/shared.test.ts
  packages/webmcp-local-relay/src/browser/shared.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-local-relay/src/relay.e2e.test.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(ci): require Chrome 155 and stop faking iframe permissions
  .changeset/upstream-iframe-runtime.md
  .github/workflows/e2e.yml
  apps/documentation-website/packages/mcp-iframe/reference.mdx
  docs/TESTING.md
  e2e/README.md
  e2e/playwright-chrome-beta-webmcp.config.ts
  e2e/playwright-native-showcase.config.ts
  e2e/test-app/src/iframe-child.ts
  e2e/tests/CHROMIUM_TESTING.md
  e2e/tests/chrome-beta-webmcp.spec.ts
  e2e/tests/mcp-iframe-element.spec.ts
  e2e/tests/runtime-contract-native.spec.ts
  packages/mcp-iframe/README.md
Due: biome check --write --no-errors-on-unmatched

fix(smart-dom-reader): treat a null element limit as no limit
  packages/smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  packages/smart-dom-reader/mcp-server/lib/smart-dom-reader.bundle.js
  packages/smart-dom-reader/package.json
  packages/smart-dom-reader/src/bundle-string.ts
  packages/smart-dom-reader/src/markdown-formatter.test.ts
  packages/smart-dom-reader/src/markdown-formatter.ts
  packages/smart-dom-reader/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(docs): align guides and examples with the 6.0 runtime
  .agents/skills/docs-authoring/SKILL.md
  AGENTS.md
  CONTRIBUTING.md
  README.md
  apps/documentation-website/explanation/architecture/runtime-layering.mdx
  apps/documentation-website/explanation/strict-core-vs-mcp-b-extensions.mdx
  apps/documentation-website/how-to/bridge-tools-across-iframes.mdx
  apps/documentation-website/how-to/choose-runtime.mdx
  apps/documentation-website/how-to/connect-desktop-agents-with-local-relay.mdx
  apps/documentation-website/how-to/debug-and-troubleshoot.mdx
  apps/documentation-website/how-to/frameworks.mdx
  apps/documentation-website/how-to/test-native-and-polyfill.mdx
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  apps/documentation-website/start-here/metadata.mdx
  apps/documentation-website/tutorials/desktop-agent-relay.mdx
  apps/documentation-website/tutorials/first-react-tool.mdx
  apps/documentation-website/tutorials/first-tool.mdx
  apps/documentation-website/tutorials/index.mdx
  docs/TYPE_TESTING.md
  examples/frameworks/angular/src/app/app.ts
  examples/frameworks/astro/src/pages/index.astro
  examples/frameworks/nextjs/app/page.tsx
  examples/frameworks/react/README.md
  examples/frameworks/react/src/App.tsx
  examples/frameworks/react/src/main.tsx
  examples/frameworks/svelte/src/App.svelte
  examples/frameworks/vanilla/src/main.ts
  examples/frameworks/vue/src/App.vue
Due: biome check --write --no-errors-on-unmatched
