Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}": ["biome check --write --no-errors-on-unmatched"],
  "package.json": ["pnpm dlx sort-package-json"]
}

feat(extension-tools): return native chrome outputs
  packages/extension-tools/src/BaseApiTools.ts
  packages/extension-tools/src/chrome-apis/BookmarksApiTools.ts
  packages/extension-tools/src/chrome-apis/HistoryApiTools.ts
  packages/extension-tools/src/chrome-apis/StorageApiTools.ts
  packages/extension-tools/src/chrome-apis/TabsApiTools.ts
  packages/extension-tools/src/chrome-methods.test.ts
  packages/extension-tools/src/chrome-methods.ts
  packages/extension-tools/src/contracts.test.ts
  packages/extension-tools/src/contracts/bookmarks.ts
  packages/extension-tools/src/contracts/core.ts
  packages/extension-tools/src/contracts/history.ts
  packages/extension-tools/src/contracts/storage.ts
  packages/extension-tools/src/contracts/tabs.ts
  packages/extension-tools/src/direct-action-tools.test.ts
  packages/extension-tools/src/executable-tools.test.ts
  packages/extension-tools/src/storage-contract-types.type-test.ts
Due: biome check --write --no-errors-on-unmatched

docs(release): document WebMCP 4.0 migration
  .changeset/align-webmcp-chrome-152.md
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/packages/index.mdx
  apps/documentation-website/packages/react-webmcp/overview.mdx
  apps/documentation-website/packages/react-webmcp/reference.mdx
  apps/documentation-website/packages/usewebmcp/reference.mdx
  apps/documentation-website/packages/webmcp-types/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  docs/TEST_RESULTS.md
  docs/TYPE_TESTING.md
  docs/global-guide.md
  packages/global/README.md
  packages/react-webmcp/README.md
  packages/usewebmcp/README.md
  packages/webmcp-polyfill/README.md
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-types/README.md
Due: biome check --write --no-errors-on-unmatched

docs(release): clarify outputSchema scope
  .changeset/align-webmcp-chrome-152.md
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/packages/react-webmcp/reference.mdx
  apps/documentation-website/packages/usewebmcp/reference.mdx
  apps/documentation-website/packages/webmcp-types/reference.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  docs/global-guide.md
  docs/react-webmcp-guide.md
  packages/global/README.md
  packages/react-webmcp/README.md
  packages/usewebmcp/README.md
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-types/README.md
Due: biome check --write --no-errors-on-unmatched

chore(release): exclude chrome devtools from fixed release
  .changeset/config.json
Due: biome check --write --no-errors-on-unmatched

chore(release): sync chrome devtools lock entry
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

chore(deps): update anthropic sdk lockfile
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): infer zod schemas across peer versions
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/zod-utils.ts
Due: biome check --write --no-errors-on-unmatched

feat(extension-tools): add chrome.userScripts contract tools
  packages/extension-tools/package.json
  packages/extension-tools/src/chrome-apis/UserScriptsApiTools.ts
  packages/extension-tools/src/chrome-methods.test.ts
  packages/extension-tools/src/chrome-methods.ts
  packages/extension-tools/src/contracts/index.ts
  packages/extension-tools/src/contracts/user-scripts.ts
  packages/extension-tools/src/direct-action-tools.test.ts
  packages/extension-tools/src/executable-tools.ts
  packages/extension-tools/tsconfig.typecheck.json
  packages/extension-tools/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore: add changeset for userScripts contract tools
  .changeset/extension-tools-userscripts.md
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-local-relay): prevent zombie processes by detecting client disconnection
  .changeset/fix-webmcp-local-relay-zombie.md
  packages/webmcp-local-relay/src/cli.ts
Due: biome check --write --no-errors-on-unmatched

feat(docs): add Persona-powered documentation assistant
  apps/documentation-website/.dev.vars.example
  apps/documentation-website/.gitignore
  apps/documentation-website/.mintignore
  apps/documentation-website/docs.json
  apps/documentation-website/load-persona.js
  apps/documentation-website/load-webmcp.js
  apps/documentation-website/package.json
  apps/documentation-website/src/persona-proxy.ts
  apps/documentation-website/tsconfig.json
  apps/documentation-website/tsconfig.worker.json
  apps/documentation-website/worker-configuration.d.ts
  apps/documentation-website/wrangler.jsonc
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore: address lint issues
  apps/documentation-website/wrangler.jsonc
Due: none

fix(webmcp-local-relay): prevent zombie processes by detecting client disconnection (#263)
  .changeset/fix-webmcp-local-relay-zombie.md
  packages/webmcp-local-relay/src/cli.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): make clean verification deterministic
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/scorecard.yml
  e2e/web-standards-showcase/src/iframe-main.ts
  packages/smart-dom-reader/mcp-server/src/index.ts
  packages/transports/src/TabTransport.browser.test.ts
  packages/webmcp-local-relay/package.json
  packages/webmcp-polyfill/package.json
  packages/webmcp-ts-sdk/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(release): include nested packages in prereleases
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

test(ci): compare MCP JSON results semantically
  e2e/tests/validation-matrix.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): keep initialization document-first
  .changeset/quiet-tools-align.md
  apps/documentation-website/how-to/choose-runtime.mdx
  apps/documentation-website/how-to/register-prompts-and-resources.mdx
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/index.mdx
  apps/documentation-website/packages/global/overview.mdx
  apps/documentation-website/packages/global/reference.mdx
  apps/documentation-website/packages/webmcp-ts-sdk/reference.mdx
  docs/MCPB_PACKAGE_PHILOSOPHY.md
  docs/global-guide.md
  packages/global/README.md
  packages/global/package.json
  packages/global/src/global.test.ts
  packages/global/src/global.ts
  packages/global/src/types.ts
  packages/global/type-tests/consumer.ts
  packages/react-webmcp/src/model-context.ts
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-ts-sdk/src/index.ts
  packages/webmcp-types/src/json-schema.test-d.ts
  packages/webmcp-types/src/tool.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(webmcp-local-relay): wait for complete tool inventory
  packages/webmcp-local-relay/src/relay.e2e.test.ts
Due: biome check --write --no-errors-on-unmatched

test(webmcp-local-relay): scope readiness to invoked tool
  packages/webmcp-local-relay/src/relay.e2e.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-local-relay): preserve zero-config MCPB startup
  apps/documentation-website/packages/webmcp-local-relay/reference.mdx
  apps/documentation-website/tutorials/desktop-agent-relay.mdx
  packages/webmcp-local-relay/README.md
  packages/webmcp-local-relay/manifest.json
  packages/webmcp-local-relay/src/cli-utils.test.ts
  packages/webmcp-local-relay/src/cli-utils.ts
Due: biome check --write --no-errors-on-unmatched

feat(webmcp-extension): add extension-side WebMCP bridge
  .changeset/config.json
  .changeset/quiet-tools-align.md
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  .github/workflows/e2e.yml
  AGENTS.md
  CONTRIBUTING.md
  README.md
  commitlint.config.js
  package.json
  packages/webmcp-extension/README.md
  packages/webmcp-extension/e2e/build-template.mjs
  packages/webmcp-extension/e2e/extension-runtime.e2e.test.ts
  packages/webmcp-extension/e2e/extension/content-script.ts
  packages/webmcp-extension/e2e/verify-extension.mjs
  packages/webmcp-extension/package.json
  packages/webmcp-extension/src/content-script.ts
  packages/webmcp-extension/template/README.md
  packages/webmcp-extension/template/manifest.json
  packages/webmcp-extension/template/package.json
  packages/webmcp-extension/template/src/content-script.ts
  packages/webmcp-extension/template/src/main-world.ts
  packages/webmcp-extension/template/tsconfig.json
  packages/webmcp-extension/template/vite.config.ts
  packages/webmcp-extension/tsconfig.check.json
  packages/webmcp-extension/tsconfig.json
  packages/webmcp-extension/vite.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(webmcp-polyfill): add declarative form tools
  .changeset/quiet-tools-align.md
  apps/documentation-website/packages/react-webmcp/reference.mdx
  apps/documentation-website/packages/webmcp-polyfill/overview.mdx
  apps/documentation-website/packages/webmcp-polyfill/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  conformance/declarative-forms-conformance.shared.ts
  packages/global/conformance/global-runtime.e2e.test.ts
  packages/global/conformance/native-runtime.e2e.test.ts
  packages/react-webmcp/src/declarative-forms.test-d.tsx
  packages/react-webmcp/src/index.ts
  packages/react-webmcp/vite.config.ts
  packages/webmcp-extension/e2e/extension-runtime.e2e.test.ts
  packages/webmcp-extension/e2e/extension/content-script.ts
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/conformance/polyfill-runtime.e2e.test.ts
  packages/webmcp-polyfill/src/declarative-forms.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-types/src/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-polyfill): align declarative forms with upstream WPT
  .changeset/wise-forms-conform.md
  .github/workflows/e2e.yml
  apps/documentation-website/how-to/test-native-and-polyfill.mdx
  apps/documentation-website/packages/webmcp-polyfill/overview.mdx
  apps/documentation-website/packages/webmcp-polyfill/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  conformance/declarative-forms-conformance.shared.ts
  docs/TESTING.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/src/declarative-forms.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

ci: constrain declarative WPT to testharness
  .github/workflows/e2e.yml
Due: biome check --write --no-errors-on-unmatched

test(webmcp-extension): wait for fixture registrations
  packages/webmcp-extension/e2e/extension/content-script.ts
Due: biome check --write --no-errors-on-unmatched

ci: allow Canary WPT on Ubuntu AppArmor runners
  .github/workflows/e2e.yml
Due: biome check --write --no-errors-on-unmatched

test(webmcp-local-relay): cover zero-config declarative bridge
  packages/webmcp-local-relay/src/relay.e2e.test.ts
Due: biome check --write --no-errors-on-unmatched

docs: align extension and E2E contracts
  apps/documentation-website/docs.json
  apps/documentation-website/how-to/test-native-and-polyfill.mdx
  apps/documentation-website/packages/index.mdx
  apps/documentation-website/packages/webmcp-extension/overview.mdx
  apps/documentation-website/packages/webmcp-extension/reference.mdx
  docs/TESTING.md
Due: biome check --write --no-errors-on-unmatched

docs(webmcp-extension): document declarative tools
  apps/documentation-website/packages/index.mdx
  apps/documentation-website/packages/webmcp-extension/overview.mdx
  apps/documentation-website/packages/webmcp-extension/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  docs/TESTING.md
  packages/webmcp-extension/README.md
  packages/webmcp-extension/template/README.md
Due: biome check --write --no-errors-on-unmatched

test(webmcp-extension): cover native child-document tools
  .github/workflows/e2e.yml
  apps/documentation-website/packages/webmcp-extension/overview.mdx
  apps/documentation-website/packages/webmcp-extension/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  packages/webmcp-extension/README.md
  packages/webmcp-extension/e2e/extension-runtime.e2e.test.ts
  packages/webmcp-extension/e2e/extension/content-script.ts
  packages/webmcp-extension/template/README.md
Due: biome check --write --no-errors-on-unmatched

test(root): share the pinned WebMCP WPT runner
  .github/workflows/e2e.yml
  AGENTS.md
  docs/TESTING.md
  package.json
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  scripts/run-webmcp-wpt.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json
