Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}": ["biome check --write --no-errors-on-unmatched"],
  "package.json": ["pnpm dlx sort-package-json"]
}

fix(ci): relax showcase iframe registration handle typing
  e2e/web-standards-showcase/src/main.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): gate native showcase by supported methods
  e2e/tests/native-showcase.spec.ts
  e2e/web-standards-showcase/src/api/detection.ts
  e2e/web-standards-showcase/src/iframe-main.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/types.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp): align registration with current chromium beta
  e2e/runtime-contract/browser-contract.d.ts
  e2e/runtime-contract/browser-contract.js
  e2e/web-standards-showcase/README.md
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/src/conformance/polyfill-runtime.e2e.test.ts
  packages/global/src/conformance/runtime-core-conformance.shared.ts
  packages/global/src/global.test.ts
  packages/react-webmcp/README.md
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/README.md
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-polyfill/README.md
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-types/README.md
  packages/webmcp-types/src/model-context.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): restore runtime-contract unregister fallback
  e2e/runtime-contract/server-contract.d.ts
  e2e/runtime-contract/server-contract.js
  packages/react-webmcp/src/useWebMCP.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
Due: biome check --write --no-errors-on-unmatched

docs(*): tighten WebMCP compatibility notes
  .changeset/green-donuts-lie.md
  e2e/web-standards-showcase/README.md
  e2e/web-standards-showcase/index.html
  e2e/web-standards-showcase/package.json
  e2e/web-standards-showcase/src/types.ts
  packages/global/README.md
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(*): preserve unregister handle compatibility
  .changeset/green-donuts-lie.md
  e2e/runtime-contract/browser-contract.d.ts
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/src/conformance/polyfill-runtime.e2e.test.ts
  packages/global/src/conformance/runtime-core-conformance.shared.ts
  packages/global/src/global.test.ts
  packages/react-webmcp/README.md
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/README.md
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): widen runtime-contract registerTool type
  e2e/runtime-contract/browser-contract.d.ts
Due: biome check --write --no-errors-on-unmatched

Align MCP-B WebMCP deprecation compatibility (#162)
  .changeset/green-donuts-lie.md
  codecov.yml
  e2e/runtime-contract/browser-contract.d.ts
  e2e/runtime-contract/browser-contract.js
  e2e/runtime-contract/server-contract.d.ts
  e2e/runtime-contract/server-contract.js
  e2e/web-standards-showcase/README.md
  e2e/web-standards-showcase/index.html
  e2e/web-standards-showcase/package.json
  e2e/web-standards-showcase/src/api/detection.ts
  e2e/web-standards-showcase/src/iframe-main.ts
  e2e/web-standards-showcase/src/lib/utils.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/types.ts
  packages/global/README.md
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/global/src/conformance/polyfill-runtime.e2e.test.ts
  packages/global/src/conformance/runtime-core-conformance.shared.ts
  packages/global/src/global.test.ts
  packages/react-webmcp/README.md
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/README.md
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-types/README.md
  packages/webmcp-types/src/index.test-d.ts
  packages/webmcp-types/src/index.ts
  packages/webmcp-types/src/model-context.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(transports): preserve self-post delivery for cross-origin clients
  packages/transports/src/TabServerTransport.ts
  packages/transports/src/TabTransport.browser.test.ts
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-ts-sdk): tolerate missing native clearContext
  packages/global/src/global.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

fix(ci): align beta parity workflow with browser support
  .github/workflows/e2e.yml
  e2e/package.json
  e2e/playwright-native-showcase.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(transports): preserve self-post delivery for cross-origin clients (#160)
  .github/workflows/e2e.yml
  e2e/package.json
  e2e/playwright-native-showcase.config.ts
  packages/global/src/global.test.ts
  packages/transports/src/TabServerTransport.ts
  packages/transports/src/TabTransport.browser.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(react-webmcp): handle client transport switches
  .changeset/friendly-seals-double.md
  packages/react-webmcp/src/client/McpClientProvider.test.tsx
  packages/react-webmcp/src/client/McpClientProvider.tsx
Due: biome check --write --no-errors-on-unmatched

test(react-webmcp): cover resource transport switching
  packages/react-webmcp/src/client/McpClientProvider.test.tsx
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-ts-sdk): tolerate missing native clearContext
  .changeset/friendly-seals-double.md
  packages/webmcp-ts-sdk/package.json
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(chrome-devtools-mcp): add WebMCP tool discovery and execution
  packages/chrome-devtools-mcp/README.md
  packages/chrome-devtools-mcp/docs/cli.md
  packages/chrome-devtools-mcp/docs/troubleshooting.md
  packages/chrome-devtools-mcp/src/tools/tools.ts
  packages/chrome-devtools-mcp/src/tools/webmcp.ts
  packages/chrome-devtools-mcp/tests/index.test.ts
  packages/chrome-devtools-mcp/tests/tools/webmcp.test.ts
  packages/chrome-devtools-mcp/tests/webmcp-fixture.ts
Due: biome check --write --no-errors-on-unmatched

fix(chrome-devtools-mcp): handle native webmcp testing results
  packages/chrome-devtools-mcp/WEBMCP_REWRITE_TDD_PLAN.md
  packages/chrome-devtools-mcp/reference/webmcp-fork/tests/tools/WebMCPToolHub.test.ts
  packages/chrome-devtools-mcp/reference/webmcp-fork/tests/tools/webmcp.test.ts
  packages/chrome-devtools-mcp/reference/webmcp-fork/tests/transports/WebMCPClientTransport.test.ts
  packages/chrome-devtools-mcp/reference/webmcp-fork/tests/webmcp.runtime-contract.e2e.test.ts
  packages/chrome-devtools-mcp/src/McpResponse.ts
  packages/chrome-devtools-mcp/src/tools/webmcp.ts
  packages/chrome-devtools-mcp/tests/McpContext.test.ts
  packages/chrome-devtools-mcp/tests/formatters/consoleFormatter.test.ts
  packages/chrome-devtools-mcp/tests/formatters/networkFormatter.test.ts
  packages/chrome-devtools-mcp/tests/formatters/snapshotFormatter.test.ts
  packages/chrome-devtools-mcp/tests/tools/webmcp.test.ts
  packages/chrome-devtools-mcp/tsconfig.json
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages v2.2.0
  .changeset/green-donuts-lie.md
  .gitignore
  biome.json
  package.json
  packages/agent-skills/CHANGELOG.md
  packages/agent-skills/package.json
  packages/chrome-devtools-mcp/CHANGELOG.md
  packages/chrome-devtools-mcp/package.json
  packages/extension-tools/CHANGELOG.md
  packages/extension-tools/package.json
  packages/global/CHANGELOG.md
  packages/global/package.json
  packages/mcp-iframe/CHANGELOG.md
  packages/mcp-iframe/package.json
  packages/react-webmcp/CHANGELOG.md
  packages/react-webmcp/package.json
  packages/smart-dom-reader/CHANGELOG.md
  packages/smart-dom-reader/package.json
  packages/transports/CHANGELOG.md
  packages/transports/package.json
  packages/usewebmcp/CHANGELOG.md
  packages/usewebmcp/package.json
  packages/webmcp-local-relay/CHANGELOG.md
  packages/webmcp-local-relay/package.json
  packages/webmcp-polyfill/CHANGELOG.md
  packages/webmcp-polyfill/package.json
  packages/webmcp-ts-sdk/CHANGELOG.md
  packages/webmcp-ts-sdk/package.json
  packages/webmcp-types/CHANGELOG.md
  packages/webmcp-types/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(mcp-iframe): cast SDK list results to local types for exactOptionalPropertyTypes compat
  packages/mcp-iframe/src/MCPIframeElement.ts
Due: biome check --write --no-errors-on-unmatched

chore(*): lint-staged formatting pass
  e2e/runtime-contract/browser-contract.d.ts
  packages/extension-tools/e2e/extension/client.ts
  packages/extension-tools/src/BaseApiTools.ts
  packages/global/src/global.test.ts
  packages/mcp-iframe/src/MCPIframeElement.ts
  packages/react-webmcp/src/client/McpClientProvider.test.tsx
  packages/react-webmcp/src/client/McpClientProvider.tsx
  packages/react-webmcp/src/types.ts
  packages/react-webmcp/src/useWebMCP.test.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/transports/src/ExtensionClientTransport.ts
  packages/transports/src/ExtensionServerTransport.ts
  packages/transports/src/IframeChildTransport.ts
  packages/transports/src/IframeParentTransport.ts
  packages/transports/src/NativeClientTransport.ts
  packages/transports/src/NativeServerTransport.ts
  packages/transports/src/NativeTransport.test.ts
  packages/transports/src/TabClientTransport.ts
  packages/transports/src/TabServerTransport.ts
  packages/transports/src/UserScriptClientTransport.ts
  packages/transports/src/UserScriptServerTransport.ts
  packages/transports/src/UserScriptTransport.test.ts
  packages/transports/src/browser-types.ts
  packages/usewebmcp/src/types.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-local-relay/src/bridgeServer.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
  packages/webmcp-ts-sdk/README.md
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-ts-sdk/src/index.ts
  pnpm-lock.yaml
  scripts/test-hooks-tarball-consumer.mjs
Due: biome check --write --no-errors-on-unmatched

chore(root): sync pnpm-lock.yaml with webmcp-ts-sdk package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

chore(*): add new source files missed by gitignore
  packages/transports/src/native-message.ts
  packages/usewebmcp/src/useWebMCP.standard-schema.test.ts
  packages/webmcp-ts-sdk/src/client.ts
  packages/webmcp-ts-sdk/src/protocol.ts
  packages/webmcp-ts-sdk/src/public-types.ts
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp, usewebmcp): type input before passing to callbacks, fix schema stability tests
  e2e/runtime-contract/browser-contract.d.ts
  packages/react-webmcp/src/useWebMCP.ts
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/usewebmcp/src/useWebMCP.ts
Due: biome check --write --no-errors-on-unmatched

fix(*): add gitignored source files and zod devDep for usewebmcp
  packages/chrome-devtools-mcp/src/McpPage.ts
  packages/chrome-devtools-mcp/src/SlimMcpResponse.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-cli-options.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-mcp-cli-options.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-mcp-main.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools-mcp.ts
  packages/chrome-devtools-mcp/src/bin/chrome-devtools.ts
  packages/chrome-devtools-mcp/src/daemon/client.ts
  packages/chrome-devtools-mcp/src/daemon/daemon.ts
  packages/chrome-devtools-mcp/src/daemon/types.ts
  packages/chrome-devtools-mcp/src/daemon/utils.ts
  packages/chrome-devtools-mcp/src/formatters/IssueFormatter.ts
  packages/chrome-devtools-mcp/src/telemetry/ClearcutLogger.ts
  packages/chrome-devtools-mcp/src/telemetry/WatchdogClient.ts
  packages/chrome-devtools-mcp/src/telemetry/flagUtils.ts
  packages/chrome-devtools-mcp/src/telemetry/metricUtils.ts
  packages/chrome-devtools-mcp/src/telemetry/persistence.ts
  packages/chrome-devtools-mcp/src/telemetry/types.ts
  packages/chrome-devtools-mcp/src/telemetry/watchdog/ClearcutSender.ts
  packages/chrome-devtools-mcp/src/telemetry/watchdog/main.ts
  packages/chrome-devtools-mcp/src/third_party/LIGHTHOUSE_MCP_BUNDLE_THIRD_PARTY_NOTICES
  packages/chrome-devtools-mcp/src/third_party/devtools-formatter-worker.ts
  packages/chrome-devtools-mcp/src/third_party/lighthouse-devtools-mcp-bundle.js
  packages/chrome-devtools-mcp/src/tools/extensions.ts
  packages/chrome-devtools-mcp/src/tools/lighthouse.ts
  packages/chrome-devtools-mcp/src/tools/memory.ts
  packages/chrome-devtools-mcp/src/tools/screencast.ts
  packages/chrome-devtools-mcp/src/tools/slim/tools.ts
  packages/chrome-devtools-mcp/src/types.ts
  packages/chrome-devtools-mcp/src/utils/ExtensionRegistry.ts
  packages/chrome-devtools-mcp/src/utils/files.ts
  packages/chrome-devtools-mcp/src/utils/string.ts
  packages/chrome-devtools-mcp/src/version.ts
  packages/usewebmcp/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

ci(root): exclude chrome-devtools-mcp from codecov coverage
  codecov.yml
Due: biome check --write --no-errors-on-unmatched

fix(*): review fixes for spring-cleaning PR
  e2e/runtime-contract/server-contract.d.ts
  packages/agent-skills/package.json
  packages/extension-tools/e2e/tsconfig.extension.json
  packages/extension-tools/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(chrome-devtools-mcp): convert directory args to glob for Node 22+
  packages/chrome-devtools-mcp/scripts/test.mjs
Due: biome check --write --no-errors-on-unmatched

fix(chrome-devtools-mcp): use pinned Chrome M146 for E2E WebMCP test
  packages/chrome-devtools-mcp/tests/e2e/chrome-devtools.test.ts
Due: biome check --write --no-errors-on-unmatched

ci(root): exclude chrome-devtools-mcp from e2e test pipeline
  .github/workflows/e2e.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(*): simplify redundant logic in transports, usewebmcp, and relay
  packages/transports/src/native-message.ts
  packages/usewebmcp/src/useWebMCP.ts
  packages/webmcp-local-relay/src/browser/widgetRuntime.ts
Due: biome check --write --no-errors-on-unmatched

test: add coverage for relay hardening changes
  packages/transports/src/NativeTransport.test.ts
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/browser/widget.test.ts
  packages/webmcp-local-relay/src/mcpRelayServer.test.ts
Due: biome check --write --no-errors-on-unmatched

feat(codemode): add browser-native code sandbox for LLM tool orchestration
  commitlint.config.js
  packages/codemode/package.json
  packages/codemode/tsconfig.json
  packages/codemode/tsdown.config.ts
  packages/codemode/vitest.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(codemode): add source files for browser-native code sandbox
  packages/codemode/src/__tests__/iframe-executor.browser.test.ts
  packages/codemode/src/__tests__/json-schema-types.test.ts
  packages/codemode/src/__tests__/normalize.test.ts
  packages/codemode/src/__tests__/utils.test.ts
  packages/codemode/src/__tests__/worker-executor.browser.test.ts
  packages/codemode/src/ai.ts
  packages/codemode/src/iframe-executor.ts
  packages/codemode/src/index.ts
  packages/codemode/src/json-schema-types.ts
  packages/codemode/src/normalize.ts
  packages/codemode/src/types.ts
  packages/codemode/src/utils.ts
  packages/codemode/src/webmcp.ts
  packages/codemode/src/worker-executor.ts
Due: biome check --write --no-errors-on-unmatched

refactor(codemode): align with upstream structure, add boundary validation
  CLAUDE.md
  packages/codemode/src/ai.ts
  packages/codemode/src/iframe-executor.ts
  packages/codemode/src/index.ts
  packages/codemode/src/messages.ts
  packages/codemode/src/normalize.ts
  packages/codemode/src/tool-types.ts
  packages/codemode/src/tool.ts
  packages/codemode/src/types.ts
  packages/codemode/src/webmcp.ts
  packages/codemode/src/worker-executor.ts
Due: biome check --write --no-errors-on-unmatched

feat(codemode): add zero-dependency ./browser entry point
  packages/codemode/package.json
  packages/codemode/src/browser.ts
  packages/codemode/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(root): add skills-lock.json to .gitignore
  .gitignore
Due: none
