Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}": ["biome check --write --no-errors-on-unmatched"],
  "package.json": ["pnpm dlx sort-package-json"]
}

feat(*): enhance chat-ui with improved configuration and components
  e2e/mcp-ui-with-webmcp/apps/chat-ui/.env.development
  e2e/mcp-ui-with-webmcp/apps/chat-ui/.env.example
  e2e/mcp-ui-with-webmcp/apps/chat-ui/.env.production
  e2e/mcp-ui-with-webmcp/apps/chat-ui/README.md
  e2e/mcp-ui-with-webmcp/apps/chat-ui/index.html
  e2e/mcp-ui-with-webmcp/apps/chat-ui/package.json
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/App.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ApiKeyInput.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ErrorBoundary.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ServerSettings.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/thread.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/tool-execution-panel.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/tool-fallback.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/tooltip-icon-button.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/button.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/dialog.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/input.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/sheet.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/textarea.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/contexts/UIResourceContext.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/hooks/useMediaQuery.ts
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/index.css
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/main.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/vite.config.ts
  e2e/mcp-ui-with-webmcp/apps/chat-ui/worker-configuration.d.ts
  e2e/mcp-ui-with-webmcp/apps/chat-ui/worker/index.ts
  e2e/mcp-ui-with-webmcp/apps/chat-ui/wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(*): fix linting and typecheck issues
  biome.json
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/index.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/index.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/main.tsx
Due: biome check --write --no-errors-on-unmatched

chore(root): ignore auto-generated bundle files from linting
  biome.json
Due: biome check --write --no-errors-on-unmatched

fix(ci): increase Node.js memory limits for typecheck and build
  .github/workflows/ci.yml
  smart-dom-reader/mcp-server/package.json
  smart-dom-reader/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(transports): implement server-ready handshake for Tab transports
  transports/src/TabClientTransport.ts
  transports/src/TabServerTransport.ts
Due: biome check --write --no-errors-on-unmatched

feat(*): add comprehensive SEO, PWA, and branding assets to chat-ui
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/SEO-IMAGES-README.md
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/apple-touch-icon.png
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/favicon-16x16.png
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/favicon-32x32.png
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/favicon.ico
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/manifest.json
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/mcp-b-logo.png
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/og-image.png
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/pwa-192x192.png
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/pwa-512x512.png
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/robots.txt
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/sitemap.xml
  e2e/mcp-ui-with-webmcp/apps/chat-ui/public/twitter-card.png
Due: biome check --write --no-errors-on-unmatched

feat(*): add comprehensive SEO and metadata to chat-ui HTML
  e2e/mcp-ui-with-webmcp/apps/chat-ui/index.html
Due: none

feat(*): apply MCP-B brand colors to chat-ui theme
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/index.css
Due: none

fix(*): resolve TypeScript recursion depth errors in smart-dom-reader MCP server
  smart-dom-reader/mcp-server/src/index.ts
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages
  extension-tools/CHANGELOG.md
  extension-tools/package.json
  global/CHANGELOG.md
  global/package.json
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
  smart-dom-reader/CHANGELOG.md
  smart-dom-reader/package.json
  transports/CHANGELOG.md
  transports/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(global): add navigator.modelContextTesting API with native detection
  global/README.md
  global/src/global.ts
  global/src/types.ts
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  smart-dom-reader/src/bundle-string.ts
Due: biome check --write --no-errors-on-unmatched

style(global): fix linter warnings - use optional chain
  global/src/global.ts
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  smart-dom-reader/src/bundle-string.ts
Due: biome check --write --no-errors-on-unmatched

test(global): add comprehensive modelContextTesting API tests
  global/test-validation.html
Due: none

test(e2e): add modelContextTesting API e2e tests
  e2e/test-app/index.html
  e2e/test-app/src/main.ts
  e2e/tests/tab-transport.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(e2e): correct listTools() return type usage in tests
  e2e/test-app/src/main.ts
  e2e/tests/tab-transport.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(e2e): add radix parameter to parseInt calls
  e2e/test-app/src/main.ts
  e2e/tests/tab-transport.spec.ts
Due: biome check --write --no-errors-on-unmatched

docs(*): modernize chat-ui README with professional structure
  e2e/mcp-ui-with-webmcp/apps/chat-ui/README.md
Due: biome check --write --no-errors-on-unmatched

docs(root): modernize top-level README with professional structure
  README.md
Due: biome check --write --no-errors-on-unmatched

feat(global): add Chromium-compatible tool polyfill APIs
  global/src/global.ts
  global/src/types.ts
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  smart-dom-reader/src/bundle-string.ts
Due: biome check --write --no-errors-on-unmatched

test(e2e): add comprehensive Chromium native API tests
  e2e/test-app/index.html
  e2e/test-app/src/main.ts
  e2e/tests/CHROMIUM_TESTING.md
  e2e/tests/chromium-native-api.spec.ts
Due: biome check --write --no-errors-on-unmatched

docs(global): add comprehensive JSDoc and remove code-level comments
  global/src/global.ts
Due: biome check --write --no-errors-on-unmatched

docs(e2e): add test execution results documentation
  TEST_RESULTS.md
Due: biome check --write --no-errors-on-unmatched

refactor(global): fix linter errors and remove code-level comments
  global/src/global.ts
  global/src/index.ts
  global/src/types.ts
  global/src/validation.ts
Due: biome check --write --no-errors-on-unmatched

style(e2e,smart-dom-reader): apply linter auto-formatting
  e2e/tests/chromium-native-api.spec.ts
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  smart-dom-reader/src/bundle-string.ts
Due: biome check --write --no-errors-on-unmatched

feat(e2e): add native Web Model Context API showcase app
  e2e/README.md
  e2e/package.json
  e2e/playwright-native-showcase.config.ts
  e2e/tests/native-showcase.spec.ts
  e2e/web-standards-showcase/CHROMIUM_FLAGS.md
  e2e/web-standards-showcase/README.md
  e2e/web-standards-showcase/index.html
  e2e/web-standards-showcase/package.json
  e2e/web-standards-showcase/src/api/detection.ts
  e2e/web-standards-showcase/src/examples/templates.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/styles/main.css
  e2e/web-standards-showcase/src/types.ts
  e2e/web-standards-showcase/src/ui/eventLog.ts
  e2e/web-standards-showcase/src/ui/toolDisplay.ts
  e2e/web-standards-showcase/tsconfig.json
  e2e/web-standards-showcase/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

style(e2e/web-standards-showcase): apply Tailwind CSS and remove emojis
  e2e/web-standards-showcase/index.html
  e2e/web-standards-showcase/package.json
  e2e/web-standards-showcase/src/api/detection.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/styles/main.css
  e2e/web-standards-showcase/src/ui/eventLog.ts
  e2e/web-standards-showcase/src/ui/toolDisplay.ts
  e2e/web-standards-showcase/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(e2e/web-standards-showcase): add Cloudflare Workers deployment support
  e2e/web-standards-showcase/package.json
  e2e/web-standards-showcase/vite.config.ts
  e2e/web-standards-showcase/worker-configuration.d.ts
  e2e/web-standards-showcase/worker/index.ts
  e2e/web-standards-showcase/wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(e2e): add web-standards-showcase to workspace and fix linter issues
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker-configuration.d.ts
  e2e/playwright-native-showcase.config.ts
  e2e/tests/native-showcase.spec.ts
  e2e/web-standards-showcase/src/api/detection.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/styles/main.css
  e2e/web-standards-showcase/src/ui/eventLog.ts
  e2e/web-standards-showcase/src/ui/toolDisplay.ts
  e2e/web-standards-showcase/worker-configuration.d.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
Due: biome check --write --no-errors-on-unmatched

chore(root): add .wrangler to .gitignore
  .gitignore
Due: none

docs(e2e): add parallel tasks document for web-standards-showcase
  PARALLEL_TASKS.md
Due: biome check --write --no-errors-on-unmatched

feat(*): add React RJSF auto-forms to web-standards-showcase
  e2e/web-standards-showcase/index.html
  e2e/web-standards-showcase/package.json
  e2e/web-standards-showcase/src/components/ToolExecutionPanel.tsx
  e2e/web-standards-showcase/src/components/ui/badge.tsx
  e2e/web-standards-showcase/src/components/ui/button.tsx
  e2e/web-standards-showcase/src/components/ui/collapsible.tsx
  e2e/web-standards-showcase/src/components/ui/label.tsx
  e2e/web-standards-showcase/src/examples/templates.ts
  e2e/web-standards-showcase/src/lib/mcp-utils.ts
  e2e/web-standards-showcase/src/lib/utils.ts
  e2e/web-standards-showcase/src/main.ts
  e2e/web-standards-showcase/src/mountReactToolExecutor.tsx
  e2e/web-standards-showcase/src/styles/main.css
  e2e/web-standards-showcase/src/types.ts
  e2e/web-standards-showcase/src/ui/toolDisplay.ts
  e2e/web-standards-showcase/tsconfig.json
  e2e/web-standards-showcase/vite.config.ts
  e2e/web-standards-showcase/wrangler.jsonc
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(global): add native Chromium API integration with auto-sync
  global/README.md
  global/src/global.ts
Due: biome check --write --no-errors-on-unmatched

refactor(global): remove inline code comments
  global/src/global.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): properly detect native API vs polyfill
  global/src/global.ts
Due: biome check --write --no-errors-on-unmatched

fix(transports): add backwards compatibility for TabServerTransport handshake
  transports/src/TabServerTransport.ts
Due: biome check --write --no-errors-on-unmatched

chore: add changesets for v1.1.1 patch releases
  .changeset/fix-global-iife-build.md
  .changeset/fix-tab-transport-backwards-compat.md
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages to 1.1.1
  .changeset/fix-global-iife-build.md
  .changeset/fix-tab-transport-backwards-compat.md
  global/CHANGELOG.md
  global/package.json
  global/test-iife.html
  global/test-unpkg.html
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  transports/CHANGELOG.md
  transports/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore: add changeset for global clean rebuild
  .changeset/fix-global-iife-clean-build.md
Due: biome check --write --no-errors-on-unmatched

chore(release): version @mcp-b/global to 1.1.2
  .changeset/fix-global-iife-clean-build.md
  global/CHANGELOG.md
  global/package.json
  global/test-clean-build.html
  global/test-v1.1.1.html
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(mcp-react-hooks): add MCPConfigExplorer component for config management
  .changeset/mcp-config-explorer.md
  react-webmcp/src/components/ConfigDiffViewer.tsx
  react-webmcp/src/components/ConfigFileList.tsx
  react-webmcp/src/components/MCPConfigExplorer.css
  react-webmcp/src/components/MCPConfigExplorer.tsx
  react-webmcp/src/components/README.md
  react-webmcp/src/components/example.tsx
  react-webmcp/src/components/index.ts
  react-webmcp/src/components/types.ts
  react-webmcp/src/components/utils/configGenerator.ts
  react-webmcp/src/components/utils/fileSystemExplorer.ts
  react-webmcp/src/index.ts
Due: biome check --write --no-errors-on-unmatched
