Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(root): bump deps
  .changeset/true-dolls-post.md
Due: biome check --write --no-errors-on-unmatched

chore(root): trying to get things to work in CI
  .changeset/config-updates.md
Due: biome check --write --no-errors-on-unmatched

chore(root): added a pat token for action
  .github/workflows/changesets.yml
  TESTING-WITH-ACT.md
Due: biome check --write --no-errors-on-unmatched

chore(root): made public
  package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(root): bumped for real
  .changeset/little-owls-care.md
  extension-tools/package.json
  global/package.json
  mcp-react-hook-form/package.json
  mcp-react-hooks/package.json
  transports/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(root): added new lib
  extension-tools/README-SmartDOMReader.md
  extension-tools/package.json
  extension-tools/src/chrome-apis/SmartDOMReaderTools.ts
  extension-tools/src/chrome-apis/index.ts
  extension-tools/src/chromeApiRegistry.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  smart-dom-reader/.claude/agents/dom-extraction-tester.md
  smart-dom-reader/README.md
  smart-dom-reader/package.json
  smart-dom-reader/src/content-detection.ts
  smart-dom-reader/src/index.ts
  smart-dom-reader/src/inject.ts
  smart-dom-reader/src/progressive.ts
  smart-dom-reader/src/selectors.ts
  smart-dom-reader/src/traversal.ts
  smart-dom-reader/src/types.ts
  smart-dom-reader/tsconfig.json
  smart-dom-reader/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(root): wip
  example_screenshot.png
  extension-tools/README-DomExtraction.md
  extension-tools/README-SmartDOMReader.md
  extension-tools/src/DomExtractionTools.ts
  extension-tools/src/chrome-apis/SmartDOMReaderTools.ts
  extension-tools/src/chrome-apis/index.ts
  extension-tools/src/index.ts
  httpbin_screenshot.png
  pnpm-lock.yaml
  pnpm-workspace.yaml
  smart-dom-reader/README.md
  smart-dom-reader/mcp-server/lib/smart-dom-reader.bundle.js
  smart-dom-reader/mcp-server/package.json
  smart-dom-reader/mcp-server/src/index.ts
  smart-dom-reader/mcp-server/tsconfig.json
  smart-dom-reader/package.json
  smart-dom-reader/src/content-detection.ts
  smart-dom-reader/src/index.ts
  smart-dom-reader/src/inject.ts
  smart-dom-reader/src/progressive.ts
  smart-dom-reader/src/selectors.ts
  smart-dom-reader/src/traversal.ts
  smart-dom-reader/test/browser-console-test.js
  smart-dom-reader/test/mcp-test-server.ts
  smart-dom-reader/test/playwright-mcp-test.ts
  smart-dom-reader/test/playwright-test-framework.ts
  smart-dom-reader/test/playwright-test.ts
  smart-dom-reader/test/run-playwright-tests.ts
  smart-dom-reader/test/run-tests.ts
  smart-dom-reader/test/simple-test.js
  smart-dom-reader/test/test-page.html
  smart-dom-reader/test/youtube-test.ts
  smart-dom-reader/tsup.config.ts
  smart-dom-reader/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(root): working state
  smart-dom-reader/mcp-server/src/index.ts
Due: biome check --write --no-errors-on-unmatched

feat(root): working well
  smart-dom-reader/README.md
  smart-dom-reader/mcp-server/AGENT_PLAYBOOK.md
  smart-dom-reader/mcp-server/lib/smart-dom-reader.bundle.js
  smart-dom-reader/mcp-server/src/index.ts
  smart-dom-reader/src/index.ts
  smart-dom-reader/src/markdown-formatter.ts
Due: biome check --write --no-errors-on-unmatched

feat(root): last step make it work with extensions
  example_screenshot.png
  httpbin_screenshot.png
  smart-dom-reader/README.md
  smart-dom-reader/mcp-server/lib/smart-dom-reader.bundle.js
  smart-dom-reader/mcp-server/package.json
  smart-dom-reader/mcp-server/scripts/update-bundle.mjs
  smart-dom-reader/mcp-server/src/index.ts
  smart-dom-reader/package.json
  smart-dom-reader/src/markdown-formatter.ts
  smart-dom-reader/src/selectors.ts
  smart-dom-reader/src/types.ts
  smart-dom-reader/test/browser-console-test.js
  smart-dom-reader/test/local-playwright-runner.mjs
  smart-dom-reader/test/mcp-test-server.ts
  smart-dom-reader/test/playwright-mcp-test.ts
  smart-dom-reader/test/playwright-test-framework.ts
  smart-dom-reader/test/playwright-test.ts
  smart-dom-reader/test/run-playwright-tests.ts
  smart-dom-reader/test/run-tests.ts
  smart-dom-reader/test/simple-test.js
  smart-dom-reader/test/youtube-test.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(root): it's messy but it's getting there
  extension-tools/src/DomExtractionTools.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  smart-dom-reader/build-bundle-string.js
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  smart-dom-reader/generate-bundle-module.mjs
  smart-dom-reader/mcp-server/lib/smart-dom-reader.bundle.js
  smart-dom-reader/mcp-server/scripts/update-bundle.mjs
  smart-dom-reader/mcp-server/src/index.ts
  smart-dom-reader/package.json
  smart-dom-reader/src/bundle-entry.ts
  smart-dom-reader/src/bundle-string.ts
  smart-dom-reader/src/bundle-types.ts
  smart-dom-reader/src/index.ts
  smart-dom-reader/src/progressive.ts
  smart-dom-reader/test/test-stateless.html
  smart-dom-reader/tsup.config.ts
  smart-dom-reader/vite.config.bundle.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(root): good enough for now, will come back to clean it up
  extension-tools/src/DomExtractionTools.ts
  smart-dom-reader/README.md
  smart-dom-reader/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(*): add comprehensive E2E testing infrastructure with Playwright
  .github/workflows/e2e.yml
  README.md
  TESTING.md
  e2e/README.md
  e2e/package.json
  e2e/playwright.config.ts
  e2e/test-app/index.html
  e2e/test-app/package.json
  e2e/test-app/src/main.ts
  e2e/test-app/tsconfig.json
  e2e/test-app/vite.config.ts
  e2e/tests/tab-transport.spec.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(global): implement Web Model Context API (window.agent)
  global/README.md
  global/package.json
  global/src/global.ts
  global/src/index.ts
  global/src/types.d.ts
  global/vite.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): resolve TypeScript type errors in Web Model Context API
  global/src/global.ts
  global/src/types.d.ts
Due: biome check --write --no-errors-on-unmatched

docs(*): update documentation to reflect Web Model Context API refactor
  CONTRIBUTING.md
  TESTING.md
  global/src/global.ts
  global/src/types.ts
  webmcp-ts-sdk/README.md
Due: biome check --write --no-errors-on-unmatched

chore(root): update gitignore
  .gitignore
Due: none

refactor(*): clean up TypeScript config and separate internal ModelContext API
  .gitignore
  e2e/playwright-report/index.html
  e2e/test-results/.last-run.json
  global/src/global.ts
  global/src/types.ts
  global/tsconfig.json
  react-webmcp/tsconfig.json
  transports/tsconfig.json
Due: biome check --write --no-errors-on-unmatched

docs(global): add comprehensive IIFE script tag documentation
  global/README.md
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages
  .changeset/config-updates.md
  .changeset/little-owls-care.md
  .changeset/true-dolls-post.md
  global/CHANGELOG.md
  global/package.json
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
  webmcp-ts-sdk/CHANGELOG.md
  webmcp-ts-sdk/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(release): fix IIFE bundling and version packages
  global/CHANGELOG.md
  global/package.json
  global/test-esm.html
  global/test-iife-local.html
  global/test-iife.html
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(root): load nvm in pre-commit hook
  .husky/pre-commit
  global/test-esm.html
  global/test-iife-local.html
  global/test-iife.html
Due: none

feat(transports): add iframe transport implementations
  transports/README.md
  transports/src/IframeChildTransport.ts
  transports/src/IframeParentTransport.ts
  transports/src/index.ts
Due: biome check --write --no-errors-on-unmatched

refactor(transports): remove ready handshake protocol from Tab transports
  transports/src/TabClientTransport.ts
  transports/src/TabServerTransport.ts
Due: biome check --write --no-errors-on-unmatched

feat(global): add dual-server mode with iframe support
  global/README.md
  global/src/global.ts
  global/src/index.ts
  global/src/types.ts
Due: biome check --write --no-errors-on-unmatched

chore(root): add e2e apps to workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched

feat(e2e): add remote MCP server with UI starter template
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/.gitignore
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/ARCHITECTURE.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/README.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/embedded-apps/tictactoe/index.html
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/embedded-apps/tictactoe/main.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/eslint.config.js
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/index.html
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/package.json
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/assets/index-CXHkTqEC.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/assets/index-DFJK6eop.js
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/assets/index-CXHkTqEC.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/assets/index-DFJK6eop.js
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/index.html
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/vite.svg
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/index.html
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/vite.svg
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/vite.svg
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/ErrorBoundary.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/TicTacToe.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/TicTacToeWithWebMCP.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/index.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/main.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/vite-env.d.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/tsconfig.app.json
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/tsconfig.json
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/tsconfig.node.json
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/tsconfig.worker.json
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/vite.config.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker-configuration.d.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker/index.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker/mcpServer.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(*): fix linting issues in chat-ui
  biome.json
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/App.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ApiKeyInput.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ErrorBoundary.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ServerSettings.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/streaming-overlay.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/thread.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/calendar.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/index.css
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/main.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/vite.config.ts
  e2e/mcp-ui-with-webmcp/apps/chat-ui/wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched

docs(*): add environment setup documentation for e2e apps
  e2e/mcp-ui-with-webmcp/ENVIRONMENT_SETUP.md
  e2e/mcp-ui-with-webmcp/apps/chat-ui/.env.development
  e2e/mcp-ui-with-webmcp/apps/chat-ui/.env.example
  e2e/mcp-ui-with-webmcp/apps/chat-ui/.env.production
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/.dev.vars
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/.prod.vars
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/.vars-migration.md
Due: biome check --write --no-errors-on-unmatched

feat(*): improve chat-ui with enhanced components and configuration
  e2e/mcp-ui-with-webmcp/apps/chat-ui/.gitignore
  e2e/mcp-ui-with-webmcp/apps/chat-ui/README.md
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/App.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ApiKeyInput.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ErrorBoundary.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/notify-message.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/thread.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/assistant-ui/tool-fallback.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/calendar.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/components/ui/sheet.tsx
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/lib/validation.ts
  e2e/mcp-ui-with-webmcp/apps/chat-ui/vite.config.ts
  e2e/mcp-ui-with-webmcp/apps/chat-ui/worker-configuration.d.ts
Due: biome check --write --no-errors-on-unmatched

docs(*): add comprehensive documentation for remote-mcp-with-ui-starter
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/ARCHITECTURE.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/EMBEDDING_PROTOCOL.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/README.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/UPGRADE_TO_TAILWIND_V4.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/deploy.sh
Due: biome check --write --no-errors-on-unmatched

refactor(*): remove old embedded apps and build artifacts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/embedded-apps/tictactoe/index.html
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/embedded-apps/tictactoe/main.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/assets/index-CXHkTqEC.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/assets/index-DFJK6eop.js
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/assets/index-CXHkTqEC.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/assets/index-DFJK6eop.js
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/index.html
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/embedded-apps/client/vite.svg
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/index.html
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/embedded-apps/client/vite.svg
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/public/vite.svg
Due: biome check --write --no-errors-on-unmatched

fix(*): improve accessibility and configuration in remote-mcp-starter
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/.gitignore
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/package.json
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/TicTacToeWithWebMCP.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/index.css
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/vite.config.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(root): update workspace configuration and dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched

docs(*): add comprehensive documentation for multi-app platform
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/ADDING_NEW_APPS.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/ARCHITECTURE.md
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/ROUTES.md
Due: biome check --write --no-errors-on-unmatched

feat(*): add MCP server infrastructure and game stats storage
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/.prod.vars
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/package.json
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/lib/utils.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/vite.config.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker-configuration.d.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker/gameStatsStorage.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker/index.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/worker/mcpServer.ts
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/wrangler.jsonc
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(*): enhance TicTacToe UI with WebMCP integration and improved UX
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/TicTacToe.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/TicTacToeWithWebMCP.tsx
  e2e/mcp-ui-with-webmcp/apps/remote-mcp-with-ui-starter/src/index.css
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
