Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(*): align declarative WebMCP with upstream WPT (#281)
  .changeset/wise-forms-conform.md
  .github/workflows/e2e.yml
  AGENTS.md
  apps/documentation-website/docs.json
  apps/documentation-website/how-to/test-native-and-polyfill.mdx
  apps/documentation-website/packages/index.mdx
  apps/documentation-website/packages/webmcp-extension/overview.mdx
  apps/documentation-website/packages/webmcp-extension/reference.mdx
  apps/documentation-website/packages/webmcp-polyfill/overview.mdx
  apps/documentation-website/packages/webmcp-polyfill/reference.mdx
  apps/documentation-website/reference/webmcp/declarative-api.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  conformance/declarative-forms-conformance.shared.ts
  docs/TESTING.md
  package.json
  packages/global/WEBMCP-CONFORMANCE-REFERENCES.md
  packages/webmcp-extension/README.md
  packages/webmcp-extension/e2e/extension-runtime.e2e.test.ts
  packages/webmcp-extension/e2e/extension/content-script.ts
  packages/webmcp-extension/template/README.md
  packages/webmcp-local-relay/src/relay.e2e.test.ts
  packages/webmcp-polyfill/README.md
  packages/webmcp-polyfill/src/declarative-forms.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
  scripts/run-webmcp-wpt.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(smart-dom-reader): keep generated CSS selectors unique
  .changeset/calm-selectors-point.md
  packages/smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  packages/smart-dom-reader/mcp-server/lib/smart-dom-reader.bundle.js
  packages/smart-dom-reader/src/bundle-string.ts
  packages/smart-dom-reader/src/selectors.ts
  packages/smart-dom-reader/test/local-playwright-runner.mjs
Due: biome check --write --no-errors-on-unmatched

fix(webmcp-local-relay): use mkdtemp for the test port cache
  packages/mcp-iframe/src/MCPIframeElement.ts
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/mcpRelayServer.test.ts
Due: biome check --write --no-errors-on-unmatched

ci(*): bound every job with timeout-minutes
  .github/workflows/ci.yml
Due: biome check --write --no-errors-on-unmatched

chore(release): fold smart-dom-reader-server into the fixed version group
  .changeset/config.json
  packages/smart-dom-reader/mcp-server/CHANGELOG.md
  packages/smart-dom-reader/mcp-server/package.json
  scripts/release-metadata.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(smart-dom-reader): reject the mode option static extractors discard
  .changeset/quick-reader-align.md
  packages/smart-dom-reader/src/bundle-types.ts
  packages/smart-dom-reader/src/smart-dom-reader.ts
Due: biome check --write --no-errors-on-unmatched

ci(*): stop setup-chrome from running apt-get update
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: biome check --write --no-errors-on-unmatched

chore(*): tighten comments and fix release docs drift
  .agents/skills/release/SKILL.md
  .changeset/honest-optional-webmcp-globals.md
  .changeset/olive-origins-explicit.md
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  AGENTS.md
  apps/documentation-website/start-here/metadata.mdx
  e2e/test-app/src/main.ts
  e2e/tests/chromium-native-api.spec.ts
  e2e/tests/runtime-contract.helpers.ts
  e2e/tests/tab-transport.spec.ts
  packages/global/src/global.ts
  packages/mcp-iframe/src/MCPIframeElement.ts
  packages/react-webmcp/src/useWebMCPPrompt.ts
  packages/smart-dom-reader/mcp-server/package.json
  packages/smart-dom-reader/mcp-server/src/index.ts
  packages/smart-dom-reader/src/bundle-entry.ts
  packages/smart-dom-reader/src/traversal.ts
  packages/webmcp-local-relay/src/bridgeServer.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-types/src/activation.test-d.ts
  scripts/release-metadata.mjs
  scripts/run-webmcp-wpt.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(webmcp-ts-sdk): honor exposedTo over the iframe bridge
  .changeset/brisk-frames-expose.md
  packages/mcp-iframe/README.md
  packages/transports/src/IframeChildTransport.ts
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

chore(release): derive the npm dist-tag from changesets pre mode
  .agents/skills/release/SKILL.md
  package.json
  scripts/npm-dist-tag.mjs
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(*): realign the docs site with the 5.0 package surface
  .agents/skills/docs-authoring/SKILL.md
  apps/documentation-website/explanation/architecture/transports-and-bridges.mdx
  apps/documentation-website/how-to/add-tools-to-an-existing-app.mdx
  apps/documentation-website/how-to/choose-runtime.mdx
  apps/documentation-website/how-to/connect-desktop-agents-with-local-relay.mdx
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/packages/global/reference.mdx
  apps/documentation-website/packages/mcp-iframe/overview.mdx
  apps/documentation-website/packages/mcp-iframe/reference.mdx
  apps/documentation-website/packages/smart-dom-reader/reference.mdx
  apps/documentation-website/packages/transports/reference.mdx
  apps/documentation-website/packages/webmcp-extension/reference.mdx
  apps/documentation-website/packages/webmcp-local-relay/reference.mdx
  apps/documentation-website/packages/webmcp-ts-sdk/reference.mdx
  apps/documentation-website/packages/webmcp-types/reference.mdx
  apps/documentation-website/tutorials/desktop-agent-relay.mdx
  apps/documentation-website/tutorials/first-react-tool.mdx
Due: biome check --write --no-errors-on-unmatched

fix(*): accept the webmcp#241 object inputSchema from getTools
  .changeset/witty-schemas-objectify.md
  .github/workflows/e2e.yml
  conformance/declarative-forms-conformance.shared.ts
  conformance/runtime-core-conformance.shared.ts
  packages/global/src/global.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-types/src/model-context.ts
  scripts/run-webmcp-wpt.mjs
Due: biome check --write --no-errors-on-unmatched

fix(*): handle object inputSchema in remaining getTools consumers
  e2e/tests/chrome-beta-webmcp.spec.ts
  e2e/web-standards-showcase/public/relay/embed.js
  e2e/web-standards-showcase/public/relay/widget.html
  e2e/web-standards-showcase/src/components/ToolExecutionPanel.tsx
  packages/usewebmcp/src/useWebMCP.test.ts
Due: biome check --write --no-errors-on-unmatched

style(*): format the vendored relay widget.html
  e2e/web-standards-showcase/public/relay/widget.html
Due: none

fix(*): harden the object-schema migration after review
  .changeset/witty-schemas-objectify.md
  apps/documentation-website/packages/webmcp-polyfill/reference.mdx
  apps/documentation-website/packages/webmcp-types/reference.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  conformance/declarative-forms-conformance.shared.ts
  e2e/tests/chrome-beta-webmcp.spec.ts
  e2e/tests/runtime-contract-native.spec.ts
  e2e/web-standards-showcase/public/relay/embed.js
  e2e/web-standards-showcase/src/components/ToolExecutionPanel.tsx
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-types/src/index.test-d.ts
  packages/webmcp-types/src/model-context.ts
Due: biome check --write --no-errors-on-unmatched

fix(*): accept the webmcp#241 object inputSchema from getTools (#289)
  .changeset/witty-schemas-objectify.md
  .github/workflows/e2e.yml
  apps/documentation-website/packages/webmcp-polyfill/reference.mdx
  apps/documentation-website/packages/webmcp-types/reference.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  conformance/declarative-forms-conformance.shared.ts
  conformance/runtime-core-conformance.shared.ts
  e2e/tests/chrome-beta-webmcp.spec.ts
  e2e/tests/runtime-contract-native.spec.ts
  e2e/web-standards-showcase/public/relay/embed.js
  e2e/web-standards-showcase/public/relay/widget.html
  e2e/web-standards-showcase/src/components/ToolExecutionPanel.tsx
  packages/global/src/global.test.ts
  packages/usewebmcp/src/useWebMCP.test.ts
  packages/webmcp-local-relay/src/browser/embed.ts
  packages/webmcp-polyfill/src/index.test.ts
  packages/webmcp-polyfill/src/index.ts
  packages/webmcp-ts-sdk/src/browser-server.test.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
  packages/webmcp-types/src/index.test-d.ts
  packages/webmcp-types/src/model-context.ts
  scripts/run-webmcp-wpt.mjs
Due: biome check --write --no-errors-on-unmatched

fix(release): add repository URL for trusted publishing
  packages/smart-dom-reader/mcp-server/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(release): add repository URL for trusted publishing (#290)
  packages/smart-dom-reader/mcp-server/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(global): preserve immutable native WebMCP contexts
  .changeset/sour-insects-build.md
  packages/global/src/global.test.ts
  packages/global/src/global.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

fix(global): support immutable native WebMCP contexts (#291)
  .changeset/sour-insects-build.md
  packages/global/src/global.test.ts
  packages/global/src/global.ts
  packages/webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

fix(docs): preserve indexing across retired routes
  apps/documentation-website/docs.json
Due: biome check --write --no-errors-on-unmatched

fix(*): improve landing audit scores
  apps/landing-page/public/assets/social-proof/media/ai-tinkerers-webmcp.webp
  apps/landing-page/public/assets/social-proof/media/jack-herrington-webmcp.webp
  apps/landing-page/public/assets/social-proof/media/zuplo-webmcp.webp
  apps/landing-page/src/components/animations/feature-slide.tsx
  apps/landing-page/src/components/section/footer.astro
  apps/landing-page/src/lib/config.tsx
Due: biome check --write --no-errors-on-unmatched

fix(*): restore hero headline verb
  apps/landing-page/src/lib/config.tsx
Due: biome check --write --no-errors-on-unmatched

fix(*): finish landing accessibility audit
  apps/landing-page/src/components/section/footer.astro
  apps/landing-page/src/components/section/hero-section.astro
Due: none

fix(docs): remove homepage audit failures
  apps/documentation-website/brand/sigvelo-public.css
  apps/documentation-website/index.mdx
  apps/documentation-website/style.css
Due: none

feat(*): mark Chrome extension as new
  apps/landing-page/src/components/section/hero-section.astro
Due: none

fix(root): correct WebMCP challenge details
  apps/landing-page/src/pages/blog/webmcp-challenge.astro
Due: none

feat(root): improve WebMCP search visibility
  apps/documentation-website/docs.json
  apps/documentation-website/explanation/what-is-webmcp.mdx
  apps/documentation-website/how-to/connect-desktop-agents-with-local-relay.mdx
  apps/documentation-website/how-to/use-devtools-mcp.mdx
  apps/documentation-website/how-to/use-schemas-and-structured-output.mdx
  apps/documentation-website/index.mdx
  apps/landing-page/src/components/BaseHead.astro
  apps/landing-page/src/lib/config.tsx
  apps/landing-page/src/pages/index.astro
Due: biome check --write --no-errors-on-unmatched

fix(docs): allow page-specific search metadata
  apps/documentation-website/docs.json
Due: biome check --write --no-errors-on-unmatched

docs(docs): make WebMCP explainer more direct
  apps/documentation-website/explanation/what-is-webmcp.mdx
Due: none

fix(root): consolidate landing search URLs
  README.md
  apps/landing-page/astro.config.mjs
Due: biome check --write --no-errors-on-unmatched

fix(docs): keep WebMCP registration non-blocking
  apps/documentation-website/snippets-jsx/live-landing-tool.jsx
Due: biome check --write --no-errors-on-unmatched

docs(docs): add Codex site tools compatibility guide
  .agents/skills/docs-authoring/SKILL.md
  apps/documentation-website/docs.json
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/index.mdx
  apps/documentation-website/reference/webmcp/codex-site-tools.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  apps/documentation-website/start-here/choose-your-path.mdx
  docs/research/codex-site-tools-2026-08-27/README.md
  docs/research/codex-site-tools-2026-08-27/agent-results.json
  docs/research/codex-site-tools-2026-08-27/declarative.html
  docs/research/codex-site-tools-2026-08-27/iframe-child.html
  docs/research/codex-site-tools-2026-08-27/iframe-parent.html
  docs/research/codex-site-tools-2026-08-27/imperative-results.json
  docs/research/codex-site-tools-2026-08-27/imperative.html
  docs/research/codex-site-tools-2026-08-27/lifecycle.html
  docs/research/codex-site-tools-2026-08-27/policy-disabled.html
  docs/research/codex-site-tools-2026-08-27/results.html
  docs/research/codex-site-tools-2026-08-27/server.mjs
Due: biome check --write --no-errors-on-unmatched

docs(docs): add Codex site tools compatibility guide (#295)
  .agents/skills/docs-authoring/SKILL.md
  apps/documentation-website/docs.json
  apps/documentation-website/explanation/design/spec-status-and-limitations.mdx
  apps/documentation-website/index.mdx
  apps/documentation-website/reference/webmcp/codex-site-tools.mdx
  apps/documentation-website/reference/webmcp/standard-api.mdx
  apps/documentation-website/start-here/choose-your-path.mdx
  docs/research/codex-site-tools-2026-08-27/README.md
  docs/research/codex-site-tools-2026-08-27/agent-results.json
  docs/research/codex-site-tools-2026-08-27/declarative.html
  docs/research/codex-site-tools-2026-08-27/iframe-child.html
  docs/research/codex-site-tools-2026-08-27/iframe-parent.html
  docs/research/codex-site-tools-2026-08-27/imperative-results.json
  docs/research/codex-site-tools-2026-08-27/imperative.html
  docs/research/codex-site-tools-2026-08-27/lifecycle.html
  docs/research/codex-site-tools-2026-08-27/policy-disabled.html
  docs/research/codex-site-tools-2026-08-27/results.html
  docs/research/codex-site-tools-2026-08-27/server.mjs
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
