Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(deps): update pnpm lockfile
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

ci(root): remove semantic PR title validation workflow
  .github/workflows/semantic-pr.yml
Due: biome check --write --no-errors-on-unmatched

docs(root): add OpenSSF Best Practices badge placeholder
  README.md
Due: biome check --write --no-errors-on-unmatched

ci(root): add Codecov integration and comprehensive badges
  .github/workflows/ci.yml
  README.md
Due: biome check --write --no-errors-on-unmatched

docs(root): add OpenSSF Best Practices badge placeholder (#60)
  .github/workflows/ci.yml
  README.md
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

ci(root): add OpenSSF Scorecard GitHub Action
  .github/workflows/scorecard.yml
  README.md
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): add missing @vitest/coverage-v8 dependency
  packages/react-webmcp/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

ci(root): add OpenSSF Scorecard GitHub Action (#61)
  .github/workflows/scorecard.yml
  README.md
  packages/react-webmcp/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(docs): use shields.io URL for OpenSSF Scorecard badge
  README.md
Due: biome check --write --no-errors-on-unmatched

chore(root): remove @webmcp/helpers package
  .github/labeler.yml
  CONTRIBUTING.md
  README.md
  commitlint.config.js
  packages/webmcp-helpers/package.json
  packages/webmcp-helpers/src/dom.ts
  packages/webmcp-helpers/src/index.ts
  packages/webmcp-helpers/src/response.ts
  packages/webmcp-helpers/src/retry.ts
  packages/webmcp-helpers/tsconfig.json
  packages/webmcp-helpers/tsdown.config.ts
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): specify Chrome stable channel in WebMCP integration test
  .github/workflows/claude-webmcp-test.yml
Due: biome check --write --no-errors-on-unmatched

ci(root): improve OpenSSF Scorecard score with security hardening
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/claude-webmcp-test.yml
  .github/workflows/codeql.yml
  .github/workflows/e2e.yml
  .github/workflows/labeler.yml
  .github/workflows/release-canary.yml
  .github/workflows/scorecard.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): add @vitest/coverage-v8 to transports and global packages
  packages/global/package.json
  packages/transports/package.json
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

ci(root): improve OpenSSF Scorecard compliance with security enhancements
  .github/CODEOWNERS
  .github/workflows/changesets.yml
  SECURITY.md
  packages/global/package.json
  packages/global/src/validation.property.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): use local chrome-devtools-mcp build in WebMCP test
  .github/workflows/claude-webmcp-test.yml
Due: biome check --write --no-errors-on-unmatched

docs(global): add traditional web standard usage examples
  packages/global/README.md
Due: biome check --write --no-errors-on-unmatched

fix(ci): add missing changesets step id and conditional for SBOM
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): use existing core-devs team in CODEOWNERS
  .github/CODEOWNERS
Due: none

ci(root): improve OpenSSF Scorecard compliance with security enhancements (#62)
  .github/CODEOWNERS
  .github/workflows/changesets.yml
  .github/workflows/claude-webmcp-test.yml
  SECURITY.md
  packages/global/README.md
  packages/global/package.json
  packages/global/src/validation.property.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(root): add release skill for Claude Code
  skills/release/SKILL.md
Due: biome check --write --no-errors-on-unmatched

fix(ci): use correct commit hash for scorecard-action v2.4.3
  .github/workflows/scorecard.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): use correct commit hash for codeql-action v3
  .github/workflows/scorecard.yml
Due: biome check --write --no-errors-on-unmatched

ci(release): add sigstore signing for release artifacts
  .github/workflows/changesets.yml
Due: biome check --write --no-errors-on-unmatched

ci(release): add GitHub releases and sigstore signing to canary workflow
  .github/workflows/release-canary.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): fix YAML syntax in canary workflow release notes
  .github/workflows/release-canary.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): use timestamp-based versioning for canary releases
  .github/workflows/release-canary.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): use NPM_TOKEN env var to match .npmrc
  .github/workflows/release-canary.yml
Due: biome check --write --no-errors-on-unmatched

fix(mcp-iframe): update repository URL for provenance verification
  packages/mcp-iframe/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(usewebmcp): update repository URL for provenance verification
  packages/usewebmcp/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(root): add release skill for Claude Code (#63)
  skills/release/SKILL.md
Due: biome check --write --no-errors-on-unmatched

feat(global, react-webmcp, usewebmcp): add Zod 3.25+ and Zod 4 dual version support
  .changeset/zod-dual-version-support.md
  packages/global/src/global.ts
  packages/global/src/validation.ts
  packages/react-webmcp/package.json
  packages/usewebmcp/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore: update lockfile for zod peer dependency changes
  pnpm-lock.yaml
Due: biome check --write --no-errors-on-unmatched

fix(ci): use setup-chrome output path for Chrome DevTools MCP
  .github/workflows/claude-webmcp-test.yml
Due: biome check --write --no-errors-on-unmatched

feat(ci): add Zod 3.25/4 compatibility matrix testing
  .github/workflows/ci.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): build before overriding zod version in compat tests
  .github/workflows/ci.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): remove Zod compat matrix (Vite resolution issue with Zod 3.25)
  .github/workflows/ci.yml
Due: biome check --write --no-errors-on-unmatched

feat(global): add Zod 3 schema detection with helpful error message
  packages/global/src/validation.property.test.ts
  packages/global/src/validation.ts
Due: biome check --write --no-errors-on-unmatched

docs(global,react-webmcp): add Zod version compatibility documentation
  packages/global/README.md
  packages/react-webmcp/README.md
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
