Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor: move MCP Config Explorer to dedicated package
  .changeset/mcp-config-explorer.md
  .changeset/new-mcp-react-config-package.md
  .changeset/remove-config-explorer-from-react-webmcp.md
  mcp-react-config/LICENSE
  mcp-react-config/README.md
  mcp-react-config/examples.tsx
  mcp-react-config/package.json
  mcp-react-config/src/ConfigDiffViewer.tsx
  mcp-react-config/src/ConfigFileList.tsx
  mcp-react-config/src/MCPConfigExplorer.css
  mcp-react-config/src/MCPConfigExplorer.tsx
  mcp-react-config/src/index.ts
  mcp-react-config/src/types.ts
  mcp-react-config/src/utils/configGenerator.ts
  mcp-react-config/src/utils/fileSystemExplorer.ts
  mcp-react-config/tsconfig.json
  mcp-react-config/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react-webmcp/src/index.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test: add comprehensive Playwright tests for mcp-react-config
  e2e/mcp-react-config-test-app/index.html
  e2e/mcp-react-config-test-app/package.json
  e2e/mcp-react-config-test-app/src/App.css
  e2e/mcp-react-config-test-app/src/App.tsx
  e2e/mcp-react-config-test-app/src/main.tsx
  e2e/mcp-react-config-test-app/tsconfig.json
  e2e/mcp-react-config-test-app/vite.config.ts
  mcp-react-config/package.json
  mcp-react-config/playwright.config.ts
  mcp-react-config/tests/mcp-config-explorer.spec.ts
  mcp-react-config/tests/utilities.spec.ts
  mcp-react-config/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(mcp-react-config): extract reusable hooks and improve code quality
  mcp-react-config/README.md
  mcp-react-config/playwright.config.ts
  mcp-react-config/src/MCPConfigExplorer.tsx
  mcp-react-config/src/hooks/index.ts
  mcp-react-config/src/hooks/useConfigPreview.ts
  mcp-react-config/src/hooks/useFileSystemExplorer.ts
  mcp-react-config/src/index.ts
Due: biome check --write --no-errors-on-unmatched

chore(mcp-react-config): add .gitignore for Playwright artifacts
  mcp-react-config/.gitignore
Due: none

fix(mcp-react-config): fix biome linting errors in test app
  e2e/mcp-react-config-test-app/src/App.css
  e2e/mcp-react-config-test-app/src/App.tsx
  e2e/mcp-react-config-test-app/src/main.tsx
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  smart-dom-reader/src/bundle-string.ts
Due: biome check --write --no-errors-on-unmatched

fix(mcp-react-config): deprecate broken detectConfigFiles function
  mcp-react-config/src/utils/fileSystemExplorer.ts
Due: biome check --write --no-errors-on-unmatched

chore(deps): update catalog to resolve version conflicts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched

feat(global): add resources and prompts support to Web Model Context API
  global/src/global.ts
  global/src/types.ts
  webmcp-ts-sdk/src/browser-server.ts
Due: biome check --write --no-errors-on-unmatched

style(global): clean up linting issues and improve code style
  global/src/global.ts
  global/src/types.ts
Due: biome check --write --no-errors-on-unmatched

docs(global): improve type organization, JSDoc, and cleanliness
  global/src/types.ts
Due: biome check --write --no-errors-on-unmatched

test(e2e): add resources and prompts e2e tests
  e2e/test-app/index.html
  e2e/test-app/src/main.ts
  e2e/tests/tab-transport.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor(*): implement debug-based logging across all packages
  extension-tools/package.json
  extension-tools/src/BaseApiTools.ts
  global/README.md
  global/package.json
  global/src/global.ts
  global/src/index.ts
  global/src/logger.ts
  global/src/validation.ts
  global/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react-webmcp/package.json
  react-webmcp/src/client/McpClientProvider.tsx
  react-webmcp/src/logger.ts
  react-webmcp/src/useWebMCP.ts
  transports/package.json
  transports/src/ExtensionClientTransport.ts
  transports/src/ExtensionServerTransport.ts
  transports/src/IframeChildTransport.ts
  transports/src/IframeParentTransport.ts
  transports/src/TabClientTransport.ts
  transports/src/TabServerTransport.ts
  transports/src/UserScriptClientTransport.ts
  transports/src/UserScriptServerTransport.ts
  transports/src/logger.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(*): clean up logging implementation
  extension-tools/src/chrome-apis/WebRequestApiTools.ts
  react-webmcp/src/logger.ts
Due: biome check --write --no-errors-on-unmatched

feat(usewebmcp): add usewebmcp package as alias for @mcp-b/react-webmcp
  pnpm-lock.yaml
  pnpm-workspace.yaml
  usewebmcp/package.json
  usewebmcp/src/index.ts
  usewebmcp/tsconfig.json
  usewebmcp/tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(global,react-webmcp): add sampling and elicitation support
  global/src/global.ts
  global/src/types.ts
  react-webmcp/src/index.ts
  react-webmcp/src/useElicitationHandler.ts
  react-webmcp/src/useSamplingHandler.ts
Due: biome check --write --no-errors-on-unmatched

fix(global,react-webmcp): correct sampling/elicitation architecture
  global/src/global.ts
  global/src/types.ts
  react-webmcp/src/index.ts
  react-webmcp/src/useElicitationHandler.ts
  react-webmcp/src/useSamplingHandler.ts
Due: biome check --write --no-errors-on-unmatched

test(e2e): add sampling and elicitation API tests
  e2e/test-app/index.html
  e2e/test-app/src/main.ts
  e2e/tests/tab-transport.spec.ts
Due: biome check --write --no-errors-on-unmatched

feat(e2e): add iframe context propagation showcase
  e2e/tests/native-showcase.spec.ts
  e2e/web-standards-showcase/iframe-test.html
  e2e/web-standards-showcase/index.html
  e2e/web-standards-showcase/src/iframe-main.ts
  e2e/web-standards-showcase/src/main.ts
Due: biome check --write --no-errors-on-unmatched

docs: add sampling and elicitation guide with code examples
  docs/sampling-elicitation-guide.md
Due: biome check --write --no-errors-on-unmatched

feat(global,react-webmcp): add toolCallId to elicitation for human-in-the-loop
  docs/sampling-elicitation-guide.md
  global/src/types.ts
  react-webmcp/src/index.ts
Due: biome check --write --no-errors-on-unmatched

feat(transports): add MCPIframe custom element for tool exposure
  transports/src/MCPIframeElement.ts
  transports/src/exposeToolsToParent.ts
  transports/src/index.ts
Due: biome check --write --no-errors-on-unmatched

refactor(transports): simplify MCPIframe to use MCP protocol
  transports/src/MCPIframeElement.ts
  transports/src/exposeToolsToParent.ts
  transports/src/index.ts
Due: biome check --write --no-errors-on-unmatched

refactor(transports): clean up MCPIframeElement with SDK types
  transports/src/MCPIframeElement.ts
Due: biome check --write --no-errors-on-unmatched

feat(transports): add prompts and resources support to MCPIframe
  transports/src/MCPIframeElement.ts
Due: biome check --write --no-errors-on-unmatched

test(transports): add E2E tests for MCPIframeElement
  e2e/test-app/iframe-child.html
  e2e/test-app/mcp-iframe-host.html
  e2e/test-app/src/iframe-child.ts
  e2e/test-app/src/mcp-iframe-host.ts
  e2e/test-app/vite.config.ts
  e2e/tests/mcp-iframe-element.spec.ts
Due: biome check --write --no-errors-on-unmatched

refactor(*): move MCPIframeElement to dedicated @mcp-b/mcp-iframe package
  e2e/test-app/package.json
  e2e/test-app/src/mcp-iframe-host.ts
  mcp-iframe/package.json
  mcp-iframe/src/MCPIframeElement.ts
  mcp-iframe/src/index.ts
  mcp-iframe/tsconfig.json
  mcp-iframe/tsdown.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  transports/src/index.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(react-webmcp): remove testing code and add prompt/resource hooks
  global/src/index.ts
  react-webmcp/src/index.ts
  react-webmcp/src/types.ts
  react-webmcp/src/useWebMCP.ts
  react-webmcp/src/useWebMCPPrompt.ts
  react-webmcp/src/useWebMCPResource.ts
Due: biome check --write --no-errors-on-unmatched

refactor(global): use zod-to-json-schema package
  global/package.json
  global/src/validation.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react-webmcp/src/useWebMCP.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(react-webmcp): consolidate type imports for single source of truth
  react-webmcp/src/useWebMCPPrompt.ts
  react-webmcp/src/useWebMCPResource.ts
Due: biome check --write --no-errors-on-unmatched

test(react-webmcp): add E2E tests for useWebMCPPrompt and useWebMCPResource hooks
  e2e/react-webmcp-test-app/src/App.tsx
  e2e/tests/react-webmcp.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): increase timeout for tools loading in combined hook test
  e2e/tests/react-webmcp.spec.ts
Due: biome check --write --no-errors-on-unmatched

fix(react-webmcp): re-fetch tools after notification handlers are set up
  react-webmcp/src/client/McpClientProvider.tsx
Due: biome check --write --no-errors-on-unmatched

chore(release): version packages for beta release
  .changeset/beta-release.md
  .changeset/mcp-iframe-release.md
  .changeset/pre.json
  e2e/web-standards-showcase/src/components/ToolExecutionPanel.tsx
  extension-tools/CHANGELOG.md
  extension-tools/package.json
  global/CHANGELOG.md
  global/package.json
  mcp-iframe/CHANGELOG.md
  mcp-iframe/package.json
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
  smart-dom-reader/CHANGELOG.md
  smart-dom-reader/package.json
  transports/CHANGELOG.md
  transports/package.json
  usewebmcp/CHANGELOG.md
  usewebmcp/package.json
  webmcp-ts-sdk/CHANGELOG.md
  webmcp-ts-sdk/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(release): bump beta versions
  .changeset/new-beta-bump.md
  .changeset/pre.json
  .gitignore
  PARALLEL_TASKS.md
  extension-tools/CHANGELOG.md
  extension-tools/package.json
  global/CHANGELOG.md
  global/package.json
  mcp-iframe/CHANGELOG.md
  mcp-iframe/package.json
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
  smart-dom-reader/CHANGELOG.md
  smart-dom-reader/package.json
  transports/CHANGELOG.md
  transports/package.json
  usewebmcp/CHANGELOG.md
  usewebmcp/package.json
  webmcp-ts-sdk/CHANGELOG.md
  webmcp-ts-sdk/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): change react-webmcp test port to 8888 to avoid conflicts
  e2e/playwright-react-webmcp.config.ts
  e2e/react-webmcp-test-app/vite.config.ts
  e2e/tests/react-webmcp.spec.ts
Due: biome check --write --no-errors-on-unmatched

chore(root): update biome config and smart-dom-reader bundle
  biome.json
  package.json
  smart-dom-reader/dist-bundle/smart-dom-reader-bundle.js
  smart-dom-reader/src/bundle-string.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(ci): add security audit, dependabot, and npm provenance
  .github/dependabot.yml
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): align configs with current best practices
  .github/workflows/changesets.yml
  renovate.json
Due: biome check --write --no-errors-on-unmatched

chore(deps): replace Dependabot with Renovate
  .github/dependabot.yml
  renovate.json
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
