Repository WebMCP-org/npm-packages: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(global): migrate to zod v4 with native schema conversion
  global/CHANGELOG.md
  global/package.json
  global/src/global.ts
  global/src/logger.ts
  global/src/types.ts
  global/src/validation.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

refactor(mcp-react-hooks): migrate to zod v4
  react-webmcp/CHANGELOG.md
  react-webmcp/package.json
  react-webmcp/src/types.ts
  react-webmcp/src/useWebMCP.ts
  react-webmcp/src/useWebMCPPrompt.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(chrome-devtools-mcp): add window scoping and WebMCP improvements
  packages/chrome-devtools-mcp/CHANGELOG.md
  packages/chrome-devtools-mcp/package.json
  packages/chrome-devtools-mcp/src/McpContext.ts
  packages/chrome-devtools-mcp/src/McpResponse.ts
  packages/chrome-devtools-mcp/src/main.ts
  packages/chrome-devtools-mcp/src/third_party/index.ts
  packages/chrome-devtools-mcp/src/tools/ToolDefinition.ts
  packages/chrome-devtools-mcp/src/tools/WebMCPToolHub.ts
  packages/chrome-devtools-mcp/src/tools/screenshot.ts
  packages/chrome-devtools-mcp/src/tools/webmcp.ts
  packages/chrome-devtools-mcp/src/transports/WebMCPClientTransport.ts
  packages/chrome-devtools-mcp/tsconfig.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(deps): upgrade zod to v4.3.5 across workspace
  e2e/mcp-ui-with-webmcp/apps/chat-ui/src/lib/validation.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  smart-dom-reader/mcp-server/package.json
  smart-dom-reader/mcp-server/src/index.ts
  usewebmcp/CHANGELOG.md
  usewebmcp/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

feat(*): migrate to zod/v4 and update dependencies
  .npmrc
  global/CHANGELOG.md
  global/README.md
  global/package.json
  mcp-iframe/CHANGELOG.md
  mcp-iframe/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  react-webmcp/CHANGELOG.md
  react-webmcp/README.md
  react-webmcp/package.json
  react-webmcp/src/client/McpClientProvider.tsx
  react-webmcp/src/index.ts
  react-webmcp/src/types.ts
  react-webmcp/src/useWebMCP.ts
  transports/CHANGELOG.md
  transports/package.json
  transports/src/ExtensionClientTransport.ts
  transports/src/ExtensionServerTransport.ts
  transports/src/IframeChildTransport.ts
  transports/src/IframeParentTransport.ts
  transports/src/NativeClientTransport.ts
  transports/src/NativeServerTransport.ts
  transports/src/TabClientTransport.ts
  transports/src/TabServerTransport.ts
  transports/src/UserScriptClientTransport.ts
  transports/src/UserScriptServerTransport.ts
  transports/src/browser-types.ts
  usewebmcp/CHANGELOG.md
  usewebmcp/package.json
  webmcp-ts-sdk/package.json
  webmcp-ts-sdk/src/browser-server.ts
  webmcp-ts-sdk/src/index.ts
  webmcp-ts-sdk/src/no-op-validator.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(transports): prevent duplicate promise resolution in TabClientTransport
  transports/src/TabClientTransport.ts
  transports/src/TabServerTransport.ts
Due: biome check --write --no-errors-on-unmatched

test(transports): add browser tests using vitest-browser-react
  transports/package.json
  transports/src/NativeTransport.test.ts
  transports/src/TabTransport.browser.test.ts
  transports/src/UserScriptTransport.test.ts
  transports/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(global): add browser tests for initializeWebModelContext
  global/package.json
  global/src/global.test.ts
  global/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

test(mcp-react-hooks): add browser tests for React hooks
  react-webmcp/package.json
  react-webmcp/src/client/McpClientProvider.test.tsx
  react-webmcp/src/test-setup.ts
  react-webmcp/src/useElicitationHandler.test.ts
  react-webmcp/src/useSamplingHandler.test.ts
  react-webmcp/src/useWebMCP.test.ts
  react-webmcp/src/useWebMCPContext.test.ts
  react-webmcp/src/useWebMCPPrompt.test.ts
  react-webmcp/src/useWebMCPResource.test.ts
  react-webmcp/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(extension-tools): update z.record() calls for Zod v4 compatibility
  extension-tools/src/chrome-apis/BookmarksApiTools.ts
  extension-tools/src/chrome-apis/DebuggerApiTools.ts
  extension-tools/src/chrome-apis/DeclarativeContentApiTools.ts
  extension-tools/src/chrome-apis/DeclarativeNetRequestApiTools.ts
  extension-tools/src/chrome-apis/EventsApiTools.ts
  extension-tools/src/chrome-apis/GcmApiTools.ts
  extension-tools/src/chrome-apis/HistoryApiTools.ts
  extension-tools/src/chrome-apis/InstanceIDApiTools.ts
  extension-tools/src/chrome-apis/StorageApiTools.ts
  extension-tools/src/chrome-apis/TabCaptureApiTools.ts
  extension-tools/src/chrome-apis/TabGroupsApiTools.ts
  extension-tools/src/chrome-apis/TabsApiTools.ts
  extension-tools/src/chrome-apis/WindowsApiTools.ts
Due: biome check --write --no-errors-on-unmatched

fix(*): upgrade smart-dom-reader-server to Zod v4
  smart-dom-reader/mcp-server/src/index.ts
Due: biome check --write --no-errors-on-unmatched

fix(mcp-react-hooks): fix handler type in useWebMCPContext
  react-webmcp/src/useWebMCPContext.ts
Due: biome check --write --no-errors-on-unmatched

chore(deps): add test infrastructure and update workspace config
  .gitignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

chore(root): update vanilla-demo.html to use navigator.modelContext API
  skills/webmcp-setup/assets/templates/vanilla-demo.html
Due: none

fix(*): fix MCP iframe tools not being discovered
  e2e/test-app/src/iframe-child.ts
  global/src/global.ts
Due: biome check --write --no-errors-on-unmatched

test(*): add MCP iframe client test infrastructure
  e2e/test-app/mcp-iframe-client.html
  e2e/test-app/src/mcp-iframe-client.ts
  e2e/test-app/vite.config.ts
  e2e/tests/mcp-iframe-element.spec.ts
Due: biome check --write --no-errors-on-unmatched

ci(*): add unit-tests job and include MCP iframe tests
  .github/workflows/ci.yml
  e2e/package.json
  package.json
  transports/src/TabTransport.browser.test.ts
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

ci(*): update GitHub Actions to v6 and add CI concurrency controls
  .github/workflows/changesets.yml
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  global/vitest.config.ts
  react-webmcp/vitest.config.ts
  transports/vitest.config.ts
Due: biome check --write --no-errors-on-unmatched

test(*): add manual browser test pages for mcp-iframe transport
  mcp-iframe/test-iframe-child.html
  mcp-iframe/test-iframe-parent.html
Due: none

chore(global): remove obsolete test file
  global/test-v1.1.1.html
Due: none

docs(root): update documentation and package.json for new structure
  CLAUDE.md
  CONTRIBUTING.md
  README.md
  docs/TESTING-WITH-ACT.md
  docs/TESTING.md
  docs/TEST_RESULTS.md
  packages/extension-tools/package.json
  packages/global/package.json
  packages/mcp-iframe/package.json
  packages/react-webmcp/package.json
  packages/smart-dom-reader/mcp-server/package.json
  packages/smart-dom-reader/package.json
  packages/transports/package.json
  packages/webmcp-helpers/package.json
  packages/webmcp-ts-sdk/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

docs(root): simplify CLAUDE.md and strengthen CONTRIBUTING.md
  CLAUDE.md
  CONTRIBUTING.md
Due: biome check --write --no-errors-on-unmatched

fix(root): update biome.json paths after monorepo reorganization
  biome.json
Due: biome check --write --no-errors-on-unmatched

fix(root): fix lint errors in verify-setup.js
  skills/webmcp-setup/scripts/verify-setup.js
Due: biome check --write --no-errors-on-unmatched

ci(root): add Playwright install for unit tests
  .github/workflows/ci.yml
Due: biome check --write --no-errors-on-unmatched

ci(root): add modern DevOps workflows and templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/changesets.yml
  .github/workflows/codeql.yml
  .github/workflows/labeler.yml
  .github/workflows/release-canary.yml
  .github/workflows/semantic-pr.yml
Due: biome check --write --no-errors-on-unmatched

ci(root): add Claude Code GitHub Action for WebMCP integration testing
  .github/workflows/claude-webmcp-test.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): add write permission for semantic PR workflow
  .github/workflows/semantic-pr.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): use pull_request_target for semantic PR validation
  .github/workflows/semantic-pr.yml
Due: biome check --write --no-errors-on-unmatched

fix(ci): add id-token permission for Claude Code Action
  .github/workflows/claude-webmcp-test.yml
Due: biome check --write --no-errors-on-unmatched

fix(*): address CodeQL security vulnerabilities
  packages/chrome-devtools-mcp/src/McpContext.ts
  packages/extension-tools/src/aiScripts/generate-chrome-api-tools.ts
  packages/global/src/global.ts
Due: biome check --write --no-errors-on-unmatched

fix(root): correct validate-publish.js path in all packages
  packages/extension-tools/package.json
  packages/global/package.json
  packages/mcp-iframe/package.json
  packages/react-webmcp/package.json
  packages/smart-dom-reader/package.json
  packages/transports/package.json
  packages/webmcp-helpers/package.json
  packages/webmcp-ts-sdk/package.json
Due: biome check --write --no-errors-on-unmatched, pnpm dlx sort-package-json

fix(ci): allow bots to trigger Claude WebMCP test
  .github/workflows/claude-webmcp-test.yml
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: any of: *.{js,jsx,ts,tsx,mjs,cjs,json,md,yml,yaml}
  pnpm dlx sort-package-json: any of: package.json
